
/* constants */
$font: arial,sans-serif;
$fontSize: 15px;
$fontColor: #000;
$fontLine:1.4;

$linkColor:#ae2231;

/*$widthMax:1710px;*/
$widthMax:1300px;

$h1Size:47px;
$h2Size:25px;
$h3Size:15px;

$btn_bg: #ae2231;
$btn_bg_hov: #c10f22;
$btn_color: #fff;

/*== malihu jquery custom scrollbar plugin ==Plugin URI:http://manos.malihu.gr/jquery-custom-content-scroller*/
/* ---------------1. BASIC STYLE -------------------------*/
.mCustomScrollbar{-ms-touch-action:pinch-zoom;touch-action:pinch-zoom;}
.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action{-ms-touch-action:auto;touch-action:auto;}
.mCustomScrollBox{position:relative;overflow:hidden;height:100%;max-width:100%;outline:none;direction:ltr;}
.mCSB_container{overflow:hidden;width:auto;height:auto;}
/* ---------------2. VERTICAL SCROLLBAR y-axis---------------------------------------*/
.mCSB_inside > .mCSB_container{margin-right:20px;}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{margin-right:0;}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container{margin-right:0;margin-left:30px;}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{margin-left:0;}
.mCSB_scrollTools{position:absolute;width:10px;height:auto;left:auto;top:0px;right:5px;bottom:0px;}
.mCSB_outside + .mCSB_scrollTools{right:-26px;}
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools, .mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{right:auto;left:0;}
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{left:-26px;}
.mCSB_scrollTools .mCSB_draggerContainer{position:absolute;top:0;left:0px;bottom:0;right:0px;height:auto;}
.mCSB_scrollTools a + .mCSB_draggerContainer{margin:20px 0;}
.mCSB_scrollTools .mCSB_draggerRail{width:8px;height:100%;margin:0 auto;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.mCSB_scrollTools .mCSB_dragger{cursor:pointer;width:100%;height:30px;z-index:1;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{position:relative;width:10px;height:100%;margin:0 auto;border-radius:5px;text-align:center;}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{width:12px;}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{width:8px;}
.mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_buttonDown{display:block;position:absolute;height:20px;width:100%;overflow:hidden;margin:0 auto;cursor:pointer;}
.mCSB_scrollTools .mCSB_buttonDown{bottom:0;}
/* ---------3. HORIZONTAL SCROLLBAR x-axis-----------------------------------*/
.mCSB_horizontal.mCSB_inside > .mCSB_container{margin-right:0;margin-bottom:29px;}
.mCSB_horizontal.mCSB_outside > .mCSB_container{min-height:100%;}
.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden{margin-bottom:0;}
.mCSB_scrollTools.mCSB_scrollTools_horizontal{width:auto;height:10px;top:auto;right:0;bottom:5px;left:0;}
.mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal,.mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal{bottom:-26px;}
.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer{margin:0 0px;}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail{width:100%;height:10px;margin:0px 0;}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger{width:100px;height:100%;left:0;}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{width:100%;height:6px;margin:1px auto;}
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{height:12px;margin:2px auto;}
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{height:8px;margin:4px 0;}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight{display:block;position:absolute;width:20px;height:100%;overflow:hidden;margin:0 auto;cursor:pointer;}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft{left:0;}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight{right:0;}
/* -----------4. VERTICAL AND HORIZONTAL SCROLLBARS yx-axis -----------------------------------------------------*/
.mCSB_container_wrapper{position:absolute;height:auto;width:auto;overflow:hidden;top:0;left:0;right:0;bottom:0;margin-right:30px;margin-bottom:30px;}
.mCSB_container_wrapper > .mCSB_container{padding-right:30px;padding-bottom:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical{bottom:20px;}
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal{right:20px;}
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical{bottom:0;}
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal{right:0;}
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal{left:20px;}
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal{left:0;}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container_wrapper{margin-right:0;margin-left:30px;}
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container{padding-right:0;}
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container{padding-bottom:0;}
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden{margin-right:0;margin-left:0;}
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden{margin-bottom:0;}
/* -----------------------5. TRANSITIONS -------------------------------------*/
.mCSB_scrollTools, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_buttonDown,.mCSB_scrollTools .mCSB_buttonLeft,.mCSB_scrollTools .mCSB_buttonRight{-webkit-transition:opacity .2s ease-in-out, background-color .2s ease-in-out;-moz-transition:opacity .2s ease-in-out, background-color .2s ease-in-out;-o-transition:opacity .2s ease-in-out, background-color .2s ease-in-out;transition:opacity .2s ease-in-out, background-color .2s ease-in-out;}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, 
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail{-webkit-transition:width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,opacity .2s ease-in-out, background-color .2s ease-in-out;-moz-transition:width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,opacity .2s ease-in-out, background-color .2s ease-in-out;-o-transition:width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,opacity .2s ease-in-out, background-color .2s ease-in-out;transition:width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,opacity .2s ease-in-out, background-color .2s ease-in-out;}
.mCSB_scrollTools{background-color:#444444;border-radius:5px;}
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{opacity:0;filter:"alpha(opacity=0)";-ms-filter:"alpha(opacity=0)";}
.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag,.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag,.mCustomScrollBox:hover > .mCSB_scrollTools,.mCustomScrollBox:hover ~ .mCSB_scrollTools,.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools,.mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools{opacity:1;filter:"alpha(opacity=100)";-ms-filter:"alpha(opacity=100)";}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:#6b6b6b;border-radius:5px;}

.scroll {height: 155px;
    ul {margin:0;padding:5px 0 0;}
}

/* */
.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{padding:0;margin:0;border:0;outline:none;vertical-align:top;}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020;}
.fancybox-skin{position:relative; text-shadow:none;background:#fff;}
.fancybox-opened{z-index:8030;}
.fancybox-outer, .fancybox-inner{position:relative; }
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch;}
.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap;}
.fancybox-image, .fancybox-iframe{display:block;width:100%;height:100%;}
.fancybox-image{max-width:100%;max-height:100%;}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span{}
#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:8060;}
#fancybox-loading div{width:44px;height:44px;}
.fancybox-close{border-radius:50%;font-size:0;text-decoration:none; text-indent:9999px;position:absolute;top:30px;color:#fff;    right: 50%;    margin-right: -604px;width:32px;height:32px;border:none;
background:url(../img/close.svg) no-repeat center;cursor:pointer;z-index:8040;border: solid 1px rgba(0, 0, 0, 0.2);
    &:hover {background-image: url(../img/close-hov.svg);}
}
.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040;}
.fancybox-prev{left:0px;}
.fancybox-next{right:0px;}
.fancybox-nav span{position:absolute;top:50%;cursor:pointer;z-index:8040;background:url(../img/arr.png) no-repeat center #ececec;width:30px;height:50px;top:50%;margin-top:-25px;}
.fancybox-prev span{left:0px;transform:rotate(180deg);}
.fancybox-next span{right:0px;}
.fancybox-nav:hover span{visibility:visible;}
.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible !important;}
.fancybox-lock{overflow:hidden;}
.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:rgba(41,41,41,0.8);}
.fancybox-overlay-fixed{position:fixed;bottom:0;right:0;}
.fancybox-lock .fancybox-overlay{overflow:auto;overflow-x:hidden;}
.fancybox-title{visibility:hidden;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050;}
.fancybox-opened .fancybox-title{visibility:visible;}
.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center;}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;background:rgba(0, 0, 0, 0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height:24px;white-space:nowrap;}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff;}
.fancybox-title-inside-wrap{padding-top:10px;}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0, 0, 0, .8);}
/* */
.jq-selectbox{vertical-align:middle;cursor:pointer;margin-left:0px;width:100%;}
.jq-selectbox select {opacity:0; display:none;}
.jq-selectbox__select{height: 32px;    font-size: 13px;    line-height: 32px;padding: 0 25px 0 10px;color:#fff; }
.jq-selectbox:hover .jq-selectbox__select{ color: #ff3046;}
.jq-selectbox.disabled .jq-selectbox__select{border-color:#CCC;background:#F5F5F5;box-shadow:none;color:#888;}
.jq-selectbox__select-text{display:block;min-width:100%;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.jq-selectbox__trigger{position:absolute;top:0;right:0;width:21px;height:100%;}
.jq-selectbox__trigger-arrow{position:absolute;top:50%;margin-top:-8px;right:10px;overflow:hidden;  width:10px;    height:10px;
    border-right:2px solid #fff;border-bottom:2px solid #fff;transform:rotate(45deg);}
.jq-selectbox__dropdown{top:32px; width:100%;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0; min-width:100%; border-radius:3px; 
    font-size: 13px;    line-height: 32px;  overflow:hidden;background-color: rgba(0, 0, 0, 0.8);  color:#fff;}
.jq-selectbox__search{margin:5px;}
.jq-selectbox__search input{-moz-box-sizing:border-box;box-sizing:border-box;width:100%;margin:0;padding:5px 27px 6px 8px;outline:none;border:1px solid #CCC;border-radius:3px;box-shadow:inset 1px 1px #F1F1F1;color:#333;-webkit-appearance:textfield;}
.jq-selectbox__search input::-webkit-search-cancel-button,.jq-selectbox__search input::-webkit-search-decoration{-webkit-appearance:none;}
.jq-selectbox__not-found{margin:5px;padding:5px 8px 6px;background:#F0F0F0;font-size:13px;}
.jq-selectbox ul{margin:0;padding:0; max-height: 240px;
    &::-webkit-scrollbar {    width: 0;}
}
.jq-selectbox li.placeholder{display:none !important;}
.jq-selectbox li{min-height:14px;padding:0px 10px 0px 10px;    overflow: hidden;    text-overflow: ellipsis;}
.jq-selectbox li.selected, .jq-selectbox li.sel{background-color:rgba(0, 0, 0, 0.8);}
.jq-selectbox li:hover{color: #ff3046;}

.ui-datepicker-title {position: relative;
    &:before {box-sizing: border-box; content:'';position: absolute;top: 0;left: 0;     width: 109px;border-radius: 3px;  border: solid 1px rgba(255, 255, 255, 0.2);height: 32px;}
    &:after {box-sizing: border-box; content:'';position: absolute;top: 0;right: 0;     width: 81px;border-radius: 3px;  border: solid 1px rgba(255, 255, 255, 0.2);height: 32px;}
}
.ui-datepicker-month {float: left; width: 109px;}
.ui-datepicker-year {float: right;width: 81px;}
select {opacity: 0;}
/* */
.ui-datepicker { top:90px !important; z-index:20;   display: none; margin:17px 0 0 -90px; width: 260px;border-radius:4px;background: rgba(0, 0, 0, 0.8);color:#fff;font-size: 13px;padding: 30px 30px 23px;
    &:before {content:'';position: absolute;left: 50%;border:5px solid transparent;margin-left:-5px;top:-10px;border-bottom:5px solid rgba(0, 0, 0, 0.8); }              
    .ui-datepicker-prev, .ui-datepicker-next {display:none;}
    .ui-datepicker-title {height: 32px;}
    table.ui-datepicker-calendar {width:100%;text-align:center;margin: 12px 0 0; position:relative;z-index:3;border-collapse: separate;
        th {font-size:12px; color:#fff;height: 30px;    position: relative;    vertical-align: top;    line-height: 30px;    width: 16%;
           &.ui-datepicker-week-end { color: #ec8a8a;}           
        }
        td { vertical-align:middle;color:rgba(255,255,255,0.3);    height: 30px;    text-align: center;
            a {z-index:2;display:inline-block;position:relative;font-weight:400;color:#fff;border-radius:50%;width:29px;height:29px;line-height:27px;border:1px solid transparent;
                &:hover { color: #ff3046;}
            }
            &.ui-datepicker-current-day {
                a {background-color: #ae2231;}
            }
            &.ui-datepicker-other-month a {color:rgba(255,255,255,0.3);}
        }
    }       
}
.ui-helper-hidden-accessible {position:absolute;top:-9999px;}
.nav-up.ui-datepicker{top:-390px !important; opacity: 0;}

/* ___________ reset CSS____________________*/
* {	margin: 0;	padding:0;  	outline:none;box-sizing:border-box;}
html,body,div{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;font:inherit;}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;font:inherit;}
a,p,ul,ol,li,img,span,strong,em{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;font:inherit;}
table,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;font:inherit;}
applet,object,iframe,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,font,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,caption,fieldset,form,label,legend{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;font:inherit;}
article,aside,figure,footer,header,hgroup,section{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;font:inherit;}
canvas,details,embed,figcaption,menu,nav,output,ruby,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;font:inherit;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
b,strong{font-weight:bold;}
em,i{font-style:italic;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
hr{margin:0;padding:0;border:none;height:1px;background:#5294c1;}
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:12px;}
ol{list-style:decimal;}
ul{list-style:disc;}
ul ul,ol ol{padding-top:0em;}
dt{font-size:18px;margin:0;}
dd{padding-left:10px;font-size:0.9em;font-style:italic;margin-bottom:20px;}
html {height:100%; background:#fff;}
input[type="submit"], textarea, button {-webkit-appearance: none;}
img { border:none; max-width:100%;vertical-align:middle;}

.f-left {float: left;}
.f-right {float: right;}
.clear {clear:both; position:relative; height:1px; overflow:hidden;}
.alignleft {}
img.alignleft {float:left;  margin:3px 28px 10px 0px;}
.alignright {text-align:right;}
img.alignright {float:right;  margin:3px 0px 10px 28px;}
.aligncenter {text-align:center;}
img.alignnone {margin-bottom: 14px;}
  
/*-----------------------------------*/
body{
	font-size:$fontSize; 
	font-family: $font;
	line-height:$fontLine; 
	color:$fontColor; 
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;	background:#fff; height: 100%; position: relative;	-webkit-text-size-adjust: none;
}

a {color: $linkColor; text-decoration: none;transition:all 0.3s ease-out;}
a:hover {color: #ff3046; }

h1, .h1 {margin: 0 auto 10px; font-weight:bold; line-height:1.15;font-size:$h1Size; text-transform: uppercase;text-align: center;}
h2, .h2 {margin: 0 auto 10px; font-weight:bold; line-height:1.15;font-size:$h2Size; text-transform: uppercase;}
h3 {margin:0 0 8px; font-weight:400; font-size:$h3Size; opacity: 0.6; text-transform: uppercase;}

.main-wrapper {z-index:1;	position: relative; margin: 0 auto;   width:100%;   overflow:hidden; min-height:100%;min-width:$widthMax;background:#f3f3f3;}
.wrapper { width:$widthMax; margin: 0 auto; 	padding:0 50px;}
.wrapper:after {content:'';display:block; clear:both;}
.include-svg-all {    display: none;}
.icon svg {    width: 100%;    height: 100%;    display: block;}
/*--------------- header ------------------*/
#header {padding:30px 0 23px;background:#f3f3f3;position: relative;z-index: 20; left:0;right:0; text-align:center;
	.wrapper {    position: relative;}
    .logo {line-height:0; font-size:0;float:left; width: 171px;   margin: -9px 19px 0 0px;position:relative;}
	.head-txt {float: left;    margin-right: 0px;text-align:left;
        .head-dash {font-size: 15px; font-weight: bold;text-transform: uppercase;}
        .head-date {font-size: 12px; opacity: 0.5;    line-height: 18px;    margin-top: -3px;    position: absolute;    left: 48px;    top: 31px;    font-size: 11px;
            br {display: none;}
        }
        .head-logout {color: rgba(0,0,0,0.6); font-size: 13px;    margin: 7px 15px 0 14px;    display: inline-block;
            svg {display: inline-block;vertical-align: middle;margin:-4px 0 0 11px;width:22px;height: 16px;fill:#ae2231;}
            &:hover {color: #ff3046; 
                svg {fill:#ff3046;}
            }
        }
    }	
    .head-img {float: left;position:relative; z-index:31;    margin: 0;
        li {display: inline-block;vertical-align: middle;position: relative;list-style: none;    margin-left: 16px;padding-bottom:10px;
            a {fill: #ae2231;
                &:hover { fill: #ff3046;}
                .icon {display: inline-block;}
                .icon1 {width: 42px;height: 26px;}
                .icon2 {width: 32px;height: 28px;}
                .icon3 {width: 55px;height: 27px;}  
            }
            .drop {min-width: 160px;transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear; margin-top:0px; border-radius:4px; opacity:0;visibility: hidden; position: absolute;top: 32px; background: rgba(0,0,0,0.8);left: 50%;transform:translateX(-50%); list-style: none;
                &:before {content:'';position: absolute;left: 50%;border:5px solid transparent;margin-left:-5px;top:-10px;border-bottom:5px solid rgba(0, 0, 0, 0.8); }
                li { list-style:none; overflow:hidden;    height: 30px;padding:0; display:block;float: none;background: transparent;margin:0 0 5px;line-height: 30px;text-align: left;  
                    &:hover, &:focus {background:rgba(255,255,255,0.2);}
                    a {display: block;padding: 0 10px;font-size: 13px;color: #ffffff;}
                    i {float:left;width: 30px;  height: 30px; line-height: 0px; margin-right: 10px;
                        img{width: 30px;  height: 30px;}
                    }
                    span {display:block; line-height: 30px; height: 30px;    margin-left: 40px;}
                }
                li:last-child {margin-bottom:0;}
            }
            &:hover {z-index: 4;
                a { fill: #ff3046;}
                .drop {margin-top:10px;opacity:1;visibility: visible; padding: 5px 0 5px;}
            }
            &.active a { fill: rgba(0, 0, 0, 0.2);}
        }
    }
    .head-right {float: right;width: 358px}
    .period-row {text-align:left;
        & + .period-row {margin-top: 10px;}
        &.hid {overflow: hidden;height: 0;visibility: hidden;margin:0;}       
        &:after {content:'';display:block;clear:both;}
        .period-link {float: left;line-height: 32px;padding: 0 10px;font-size: 14px;
            &.active {color: rgba(0,0,0,0.5);}
        }
        .period-inp {    margin-left: 10px;margin-right:10px;text-align:center;float: left; width: 190px;line-height: 30px;  height: 32px;  border-radius: 3px;  border: solid 1px rgba(0, 0, 0, 0.2);
            input {cursor:pointer;text-align:center;font-size: 14px;font-family:arial; color: rgba(0, 0, 0, 0.5); border:none;background: transparent;width: 77px;
                &:hover, &:focus {color: #fc1337;}
            }
            .beet {color: rgba(0, 0, 0, 0.5); margin: 0 -3px;}
        }
        .btn-add.hid {display: none;}
        /*&:last-child .btn-add.hid {display: inline-block;}*/
    }
    .head-cntr {display:inline-block;    padding-left: 8px; counter-reset: my-badass-counter;
        .btn-add {    margin-left: 8px;}
        &.nmb .proj-row {
            &:before {font-weight:bold;margin-right:5px;content: counter(my-badass-counter);    counter-increment: my-badass-counter;display: block;float: left;  line-height:32px; color:#fff;
            text-align:center;    width: 32px;  height: 32px;  border-radius: 3px;  background-color: #9cbcdf;}
            &:nth-child(odd):before {background-color: #9895d6;}
            .btn-add {
                &.hid {display: none;}
            }
            .proj-list > li.last {display: none;}
            .proj-list > li ul li.last {display: block;}
        }
    }
    .proj-row {position: relative; 
        &.default {display: none;
            .btn-remove {display: block;}
        }
        &:hover {position: relative;z-index: 2;}
        &:after {content:'';display:block;clear:both;}
        .proj-list {float: left;list-style: none;margin:0;padding: 0;
            > li > a { 
                > i {float: none;display: table-cell;vertical-align: middle;font-size: 0;line-height: 0;}
                > span {    backface-visibility: hidden;  color:#fff;width:auto;font-size: 13px;padding: 10px;line-height: 15px;  z-index: 5;    -webkit-transform: translateX(-50%);    margin-top: 0px;    border-radius: 4px;    opacity: 0;    visibility: hidden;    position: absolute;    top: 32px;    background: rgba(0, 0, 0, 0.8);    left: 50%;
                    &:before {    content: '';    position: absolute;    left: 50%;    border: 5px solid transparent;    margin-left: -5px;    top: -10px;    border-bottom: 5px solid rgba(0, 0, 0, 0.8);}
                }
                &:hover span { color:#fff;    margin-top: 10px;    opacity: 1;    visibility: visible;    transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;}
            }
            li {margin-right:5px;float: left;position: relative;line-height: 0px;padding-bottom:10px;
                i {    font-size: 0;text-align:center;display: block;float: left;width: 32px;  height: 32px; line-height: 32px; border-radius: 3px;  background-color: #ffffff;
                    img {height: 22px;width: 22px;vertical-align: middle;display: inline-block;}
                }
               
                a {font-size:0;}
                span {cursor:pointer; display:block;font-size: 13px;width: 32px;  height: 32px; background:#fff;line-height: 32px; border-radius: 3px;color: rgba(0,0,0,0.6);text-align: center;}
                .drop {z-index:5;transform: translateX(-50%); margin-top:0px; border-radius:4px; opacity:0;visibility: hidden; position: absolute;top: 32px;background: rgba(0,0,0,0.8);left: 50%;list-style: none;
                    &:before {content:'';position: absolute;left: 50%;border:5px solid transparent;margin-left:-5px;top:-10px;border-bottom:5px solid rgba(0, 0, 0, 0.8); }
                    li { list-style:none;   height: 30px;padding-right:45px;padding-bottom:0px; float: none;background: transparent;margin:0 0 5px;line-height: 30px;text-align: left;
                        &:hover {background:rgba(255,255,255,0.2);}
                        a {display: block;padding: 0 10px;font-size: 13px;color: #ffffff;white-space: nowrap;    display: block;
                            span {font-size: 13px;color: #ffffff;width:auto;background: transparent;text-align: left;height: 30px;line-height: 30px;}
                        }
                        i {width: 30px;  height: 30px; line-height: 30px; margin-right: 10px;}
                        
                    }
                    li:last-child {margin-bottom:0;}
                    li.last {display: none;}
                }
                &:hover {
                    span {    color: #ff3046;}
                    .drop {min-width: 160px;margin-top:10px;opacity:1;visibility: visible; padding: 5px 0 5px;  transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear; 
                        span {color: #fff;}
                    }
                }
                &.dis {
                    > a > i img {opacity: 0.3;}
                    ul li a {color: rgba(255,255,255,0.3);}
                    ul li.active a {color: rgba(255,255,255,1);}
                }

            }
        }
        .btn-remove {display: none;  margin-left: 8px;float: left;
            &.active {display: block;float: left;}
        }
        .btn-add {float: left;
            &.hid {display: none;}
        }
        &.vs .btn-add.hid {display: block;}
    }
    .proj-row + .proj-row.default {display: block; margin-top:0px;}
}

#header {transform:translateY(0%);transition:transform .3s;
    &.nav-up {transition:transform 0s;}
    &.fix.nav-up {transform:translateY(-100%);}
     &.fix {transition:transform 0s; position: fixed;transform:translateY(-100%);}
    &.nav-down {transform:translateY(0%);transition:transform .3s; }
   
    &.fix.nav-down {transform:translateY(0%);}
    
}

#header.fix + .content {margin-top:95px;}

/* */
#footer {height: 80px;
    .foot-in {height: 80px;position: absolute;bottom: 0;left: 0;right: 0;padding: 30px 0;    line-height: 20px;}
    .copy {float: right;color:#5d5d5d;}
    .foot-logout {float: left;color:#5d5d5d;
        a {    margin-left: 8px;}
    }
}


/*--------------- content --------------*/
.content { clear:both;display: block;}
section:after {content:'';display:block;clear:both;}

/* */
.btn{ box-sizing:border-box;font-weight:400; font-family: arial, sans-serif;cursor:pointer;display:inline-block;border:none;text-align:center; font-size:14px; 
 line-height:32px;height:32px;padding:0 40px;color:$btn_color;background:$btn_bg;overflow:hidden;text-decoration:none;
 border-radius:3px; box-shadow:none;transition:all 0.3s ease-out;
	&:hover {color:#fff; background:$btn_bg_hov; }
}
.btns {text-align: center;}

.form-row {	position:relative;margin-bottom:10px;
	&:after {content:'';display: block;clear: both;}
}
.form-col {float: left;width:46.8%;
    & + .form-col {float: right;}
}

.t-inp, textarea{    padding: 5px 5px 5px 5px;    text-overflow: ellipsis;    overflow: hidden;display:block;width:100%;color:rgba(255,255,255,0.6);-webkit-appearance:none;
height:32px;border:none; font-size:14px;font-weight:300;line-height:24px;background:rgba(255,255,255,0.2); border-radius:3px;
font-family:arial,sans-serif;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.t-inp:focus, textarea:focus {box-shadow: 0 0 0 1px rgba(255,255,255,0.98);}

textarea{height:126px;resize:none;overflow:auto;padding:15px 22px;border:3px solid #1f805d;}
.t-inp.error, textarea.error {border-color:#ff0000;}
input:focus::-webkit-input-placeholder {    color: transparent;}
input:focus:-moz-placeholder {    color: transparent;}
input:focus::-moz-placeholder {    color: transparent;}
input:focus:-ms-input-placeholder {    color: transparent;}
textarea:focus::-webkit-input-placeholder {    color: transparent;}
textarea:focus:-moz-placeholder {    color: transparent;}
textarea:focus::-moz-placeholder {    color: transparent;}
textarea:focus:-ms-input-placeholder {    color: transparent;}  

.login-cover {background: #000;text-align: center;color:#fff;height: 100%;position: absolute;top:0;left: 0;width: 100%;
    .logo {display: block;margin: 0 0 30px;}
    .login-cont {width: 171px; top:50%;position: absolute;transform: translateY(-50%);  left:50%;margin-left:-85px;}
    .t-inp {text-align: center;}
    .btn {width: 100%;display: block; margin-top: 32px;}
}


/* */
.section-cat {border-bottom: 10px solid #f3f3f3;padding: 30px 0 0px;position: relative;background: #fff;
    .wrapper {position: relative;}
    .close-cat {position: absolute;right: 50px;top: 0;}
    &:last-child {border:none;}
    .pas-cols {
        &:after {content:'';display: block;clear: both;}
        .pas-col {float: left;width: 20%;    padding-bottom: 24px;padding-top: 8px; 
            &:nth-child(5n+1) {clear: both;}
            .pas-top {width: 192px;    margin-bottom: 10px;position: relative;
                &:after {content:'';display: block;clear: both;}
                .pas-title {opacity: 0.6;font-size: 15px;text-transform: uppercase;    margin-bottom: 5px;}
                .pas-big { float:left; font-size: 21px;  font-weight: bold;} 
                .pas-graf {float: right;    margin-top: 3px;
                    canvas {display: block;}
                }
                &:hover {opacity: 0.7;}
            }
            .pas-table {background: url(../img/line.jpg) repeat 0 0px;position: relative;
                &:after {content:'';background: #fff;height: 2px;left: 0;right: 2px;bottom: 0;position: absolute;}
                table {margin:0;width: 200px;
                    tr.hid {display: none;}
                }
                td {height: 36px;vertical-align: middle;padding-right: 8px}
                tr:hover { }
                td:last-child {width: 50px;}
                .comp-num {  font-size: 15px;  font-weight: bold;width: 32px;  height: 32px;  border-radius: 3px;color: #fff;text-align: center;line-height: 32px;}
                .link-logo {    vertical-align: middle;position: relative;    display: inline-block;z-index: 3;
                    i{width: 24px;height: 24px; line-height:24px;color:#000;font-style: normal; display: block;text-align: center;}
                    .i-num {display:block;line-height:22px;border: solid 1px rgba(0, 0, 0, 0.2); font-size: 10px;color:rgba(0,0,0,0.6);border-radius: 3px;}
                    .link-drop-right {line-height: 1.15;width:155px;padding:10px 11px 10px 15px;position: absolute;top: 50%;transform: translateY(-50%);left:100%;margin-left: 0; background: rgba(0,0,0,0.8);color: #fff;line-height: 1.15;font-size: 13px;
transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear; border-radius:4px; opacity:0;visibility: hidden;     
        &:before {content:'';position: absolute;left: -10px;border:5px solid transparent;margin-top:-5px;top:50%;border-right:5px solid rgba(0, 0, 0, 0.8); }
                    }
                    &:hover {z-index: 11;opacity: 0.7;
                        .link-drop-right {margin-left: 10px;opacity:1;visibility: visible;}
                        .i-num {    color: #ff3046;}
                    }
                }
                .pas-val {z-index:10;float: right; text-align: right;color:#000;display: block;position: relative;
                    .link-drop {position: absolute; text-align: center;    transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;
    margin-top: 0px;    border-radius: 4px;    opacity: 0;    visibility: hidden;    position: absolute;    bottom: 100%;    width: 167px;    background: rgba(0, 0, 0, 0.8);
    left: 50%;transform: translateX(-50%);color:#fff;font-size: 13px;line-height: 1.38;padding: 6px;
                        &:after {    content: '';    position: absolute;    left: 50%;    border: 5px solid transparent;    margin-left: -5px;    bottom: -10px;    border-top: 5px solid rgba(0, 0, 0, 0.8);}
                    }
                    &:hover {color: rgba(0,0,0,0.7);
                        .link-drop {    margin-bottom: 10px;    opacity: 1;    visibility: visible;}
                    }

                }
                .pas-perc { text-align: right;color: #55bb00;display: block;
                    &.c-red {color: #db3727;}
                    &:hover {opacity: 0.7;}
                }
                .pas-info {
                    
                }
            }
        }
    }
    .pas-cols-comp {
        .pas-col {
            .pas-top {margin-bottom: 5px;}
            .pas-table {background-image: url(../img/line2.jpg);
                td {height:42px;}
            }
        }
    }
    .pas-cols-soc {
        .pas-col .pas-table .link-logo i {background-color: #6d1f30;border-radius: 50%;overflow: hidden;font-size: 0;vertical-align:middle;display: table-cell;line-height: 0;
            &.i-num {border-radius: 50%;background: #fff;line-height: 22px;}
            img {max-width: 14px;max-height: 14px;}
        }
    }
}
.pas-cols + h2 {    margin-top: 16px;}
.cover-link {position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index:1;}
.help {position: relative;
    > i {    transition: all 0.3s ease-out;opacity:0.2;display: block; margin:0 auto;width: 14px;height: 14px;background: url(../img/info.svg) no-repeat center; }
    .help-drop {width:182px;padding:10px 11px 10px 15px;position: absolute;top: 50%;transform: translateY(-50%);left:100%;margin-left: 0; background: rgba(0,0,0,0.8);color: #fff;line-height: 1.15;font-size: 13px;
 border-radius:4px; opacity:0;visibility: hidden;     
        &:before {content:'';position: absolute;left: -10px;border:5px solid transparent;margin-top:-5px;top:50%;border-right:5px solid rgba(0, 0, 0, 0.8); }
        p {margin: 3px 0;}
        .help-nums {margin-bottom: 10px;
            .help-row {overflow: hidden;line-height: 1.6;
                .help-row-left {float: left;    width: 120px;    overflow: hidden;}
                .help-row-right {float: right;color: #b9ff7f;font-weight: bold;width: 33px;text-align: right;}
            }
        }
    }
    &:hover {z-index: 25;
        > i {opacity:0.5;}
        .help-drop {margin-left: 10px;opacity:1;visibility: visible;transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;}
    }
}
.btn-add {width: 32px;  height: 32px;  border-radius: 3px;line-height: 30px;text-align: center;display: inline-block;  border: solid 1px rgba(0, 0, 0, 0.2);
    &:before {margin-top:-1px;content:'';width: 14px;height: 14px;display: inline-block;vertical-align: middle;background: url(../img/plus.svg) no-repeat center;}
    &:hover:before {background-image: url(../img/plus-hov.svg);}
}
.btn-remove {    border-radius:50%; text-indent:9999px; color:#fff; width:32px;height:32px; display: inline-block;
background:url(../img/close.svg) no-repeat center; border: solid 1px rgba(0, 0, 0, 0.2);
    &:hover {background-image: url(../img/close-hov.svg);}
}
.section-bot {padding: 28px 0 18px;background: #fff;
    .bot-cols {
        &:after {content:'';display: block;clear: both;}
        .bot-col {float: left;width: 25%;}
        .bot-params {min-width: 175px;line-height: 1.8;
            th {font-weight: 400;opacity: 0.5;text-align: left;}
            td {text-align: right;white-space: nowrap;padding-left: 5px;}
        }
        .results-v {width: 140px;height: 140px;color: #fff; line-height: 1.6;overflow: hidden; margin-top: 13px;position: relative;
            .result {position: absolute;left: 0;right:0;top:0;
                &:hover .res-val.abs { margin-bottom: 10px;opacity: 1;visibility: visible; }
            }
            .result + .result {position: absolute;left: 0;right:0;top:auto; bottom:0;}
            .res-val {padding: 6px 10px;
                &.abs {text-align:center;width:120px;opacity: 0;visibility: hidden; bottom:100%; position: absolute;left: 50%;transform: translateX(-50%);padding:5px 10px; background: rgba(0,0,0,0.8);border-radius: 4px;
                        transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;
                        &:after {content:'';position: absolute;bottom: -10px;border:5px solid transparent;margin-top:-5px;margin-left:-5px;left:50%;border-top:5px solid rgba(0, 0, 0, 0.8);}
                    }
            }
            .bg1 {height: 100px;}
        }
    }
}
.bg1 {background-color: #9cbce0;}
.bg2 {background-color: #9895d6;}

.section-top { background-color: #f4f4f4;padding:16px 0 0;    margin-bottom: 9px;position: relative;z-index: 5;
    .wrapper {position: relative;}
    h1 {    margin: 0 auto -25px;}
    .close-cat {position: absolute;right: 50px;top: 11px;}
    .proj-logo {border-radius:50%; display: block;margin: 0 auto 0px;top:37px;position: relative; text-align: center;    width: 73px; line-height: 71px; height: 73px;background-color: #ffffff;  border: solid 1px rgba(0, 0, 0, 0.1);
        img {max-width: 41px; max-height: 41px;}
    }
}

/* */
.window {padding: 41px 180px 40px 50px;width: 1300px; margin:0 auto; background:#fff;
    canvas {display: block;}
    &:after{display: block; clear: both; content: '';}
    .win-left {float: left;
        h3 {    margin: 0 0 5px;    line-height: 1.1;}
        .pas-big {font-size: 21px;  font-weight: bold;}
        .win-vals {margin:31px 0;
            .pr-row {line-height: 20px;height: 20px;clear: both;    margin-bottom: 7px;
                .pr-name {float: left;opacity: 0.5; width:90px;}
                .pr-val {float: left;height: 12px; margin-top:4px;width: 271px;
                    .pr-val-width {position: relative;height: 12px;  background-color: #ae2231;
                        span {position: absolute;left: 100%;top:-4px;margin-left:10px;}
                    }
                }
            }
        }
        .win-link {display: inline-block;}
    }
    .win-graf {float: right;width:650px;

    }
}
#win2, .win2 {padding: 41px 150px 34px 50px;}
.br-name { font-size: 21px;  font-weight: bold;    margin: -13px 0 15px;
    i {width: 30px;height: 30px;display: inline-block;vertical-align: middle;    margin-right: 5px;
        img {max-height: 100%;}
    }
}
.br-table {width: 388px;margin-bottom: 15px;
    th {text-align: right; opacity: 0.6;text-transform: uppercase;font-weight: 400;    line-height: 31px;}
    td {text-align: right;font-size: 21px;    line-height: 37px;      }
    .td1 {text-align: left;font-size: 15px;}
    .td2 {}
    .td3 {width: 98px;}
    .tr-tot td {font-weight: bold;    line-height: 30px;}
    .c-green {color:#55bb00;
        svg path {fill:#55bb00;}
    }
    .c-red {color:#db3727;
        svg path {fill:#db3727;}
    }
    .br-val {
        i {display: inline-block;font-style: normal;vertical-align: middle;margin: 0 0 0 7px;}
    }
}

/* */
.section-number{    padding: 33px 0;background: #fff;
    .pas-title {font-weight: bold;opacity: 0.6;text-transform: uppercase; }
    .number-blocks{    margin-bottom: 39px;
        .number-block-line{    margin-bottom: 31px;
            &:after{display: block; clear: both; content: '';}
        }
        &:after{display: block; clear: both; content: '';}
    }
    .cols{clear: both;     margin-bottom: 28px;
        .col{width: 22.65%; float: left;    margin-left: 3%;
            &:nth-child(4n+1) {clear: both;margin-left: 0;}
            &.col-hov{position: relative;
                &:hover {opacity:0.7; cursor: pointer;}
            }
        }
        .number{color: #000000; font-size: 35px; font-family: arial, sans-serif; line-height: 41px; font-weight: bold;
            span {margin-left: 7px;display: inline-block; font-weight: 400; padding:0 10px; text-align: center; border-radius: 3px;  vertical-align: top;     margin-top: 5px; font-size: 15px; line-height:27px; height: 29px; }
            .green{ border: 1px solid #5b0; color: #55bb00; margin-right: -10px; }
            .red{ border: 1px solid #db3727; color: #db3727; margin-right: -10px; }
            &:after{display: block; clear: both; content: '';}
        }
        &:after{display: block; clear: both; content: '';}
    }
    .country-number .country-block-in .number-line .cols .col .number {
        b {display: inline-block;width: 80px;}
    }
    .number-line{position: relative; height: 40px;     margin-bottom: 18px;
        .ico{width: 40px; height: 42px; position: absolute; top:50%; left: -62px; margin-top:-16px;
            img{width: 100%;}
        }       
        &:after{display: block; clear: both; content: '';}
    }
    .graf-block{    margin-bottom: -2px;
        .pas-title{margin-bottom: 13px;}
        .graf-line{
            .graf{height: 60px; float: left;   text-align: left;position: relative;
                .graf-title{color: #ffffff; line-height: 18px; padding: 12px 20px; 
                    span{display: block;font-weight:bold;}
                    &.abs {opacity: 0;visibility: hidden; bottom:100%; position: absolute;left: 50%;transform: translateX(-50%);padding:5px 10px; background: rgba(0,0,0,0.8);border-radius: 4px;
                        transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;
                        &:after {content:'';position: absolute;bottom: -10px;border:5px solid transparent;margin-top:-5px;margin-left:-5px;left:50%;border-top:5px solid rgba(0, 0, 0, 0.8);}
                    }
                }
                &:hover .graf-title.abs { margin-bottom: 10px;opacity: 1;visibility: visible; }
            }
        }
        .graf-block-in{    margin-bottom: 40px;
            .date{margin-bottom:20px;}
        }
        .number-line{height: 60px;     margin-bottom: 10px;}
        &:after{display: block; clear: both; content: '';}
    }
    .country-number{ 
        .pas-title{ margin-bottom: 18px;}
        .country-block-in{    margin-bottom: 34px;
            .title-cols{    margin-bottom: 9px;
                .col{width: 15.66%;    margin-left: 1.5%;
                    &:nth-child(4n+1) {clear: none;margin-left: 0;}
                    &:nth-child(6n+1) {clear: both;margin-left: 0;}
                    .pas-title{text-transform: none;font-weight: 400;margin-bottom: 0;} 
                }
            }
            .date{    margin-bottom: 13px;}
            .number-line{    margin-bottom: 7px;
                .cols{
                    .col{width: 15.66%;    margin-left: 1.5%;
                        &:nth-child(4n+1) {clear: none;margin-left: 0;}
                        &:nth-child(6n+1) {clear: both;margin-left: 0;}
                        .number{font-size: 15px;
                            span{color:#9f9f9f; display: inline-block; margin-left: 6px;padding: 0; line-height: 31px;}
                        }
                    }
                }
            }
        }
        .country-block-in .number-line .flag-block{
            .flag{float: left; /*width: 55px;*/ height: 36px; margin-right: 10px;overflow: hidden;
                img {width: 100%;height: 100%;}
            }
            .flag-cont{overflow: hidden;
                .pas-title{text-transform: none; margin-bottom: 7px;font-weight: 400;line-height: 1;} 
                .number-sm{line-height: 1;font-weight: bold;
                    span{font-weight:400;display: inline; margin-left: 6px;}
                }
            }
        }
    }
    .graf-img-blocks {     margin-bottom: 38px;
        .cols {margin-bottom: 13px;
            .hel-graf {    margin: 0 0 12px;}
            .pas-title {    margin-bottom: 8px;}
        }
    }
    .cols-sm-m { margin-bottom: 9px;}
    &.section-number-padd {
        .wrapper {padding-left:109px;}
        .cols .col {    width: 25%;    margin-left: 0%;}
        /*.number-blocks {margin-bottom: 49px;
            .number-block-line {    margin-bottom: 41px;}
        }
        .graf-block {    margin-bottom: 48px;
            .pas-title {    margin-bottom: 28px;}
        }
        .country-number .pas-title {    margin-bottom: 28px;}*/

    }
}
.date{border-bottom:1px solid rgba(0,0,0,0.1);clear: both; line-height: 17px; padding-bottom: 10px;     margin-bottom: 12px;
    span{display: inline-block;}
}
.other-block{width: 55px; height: 36px; position: relative; border:solid 1px rgba(151, 151, 151, 0.4); margin-left: 1px;
    span{width: 5px; height: 5px; border-radius:3px; display: block; background: #000000; position: absolute; top:50%; left:50%; margin:-2px 0 0 -2px;}
    &:after{content: ''; width: 5px; height: 5px; border-radius:3px; background: #000000; position: absolute; top:50%; left:50%; margin:-2px 0 0 -10px;}
    &:before{content: ''; width: 5px; height: 5px; border-radius:3px; background: #000000; position: absolute; top:50%; left:50%; margin:-2px 0px 0 6px;}
}



/* 05.04.2017 */
#header .proj-row .proj-list li {
    &.active > a i{position: relative;
        &:after {content:'';position: absolute;top:0;left: 0;right: 0;bottom: 0;border: solid 1px #ae2231;border-radius: 3px;}
    }
}
.window .win-left .win-vals .pr-row {
    .pr-name {    width: 128px;}
    .pr-val {    width: 235px;}
}


/* 22.04 */
#footer { font-size: 13px; 
    .foot-date {opacity: 0.6;    line-height: 20px;color: #000000;}
}
#header {
    .logo {    margin: 3px 19px 0 0px;}
    .head-img li a {
        .icon1 {    width: 46px;    height: 29px;}
        .icon2 {    width: 32px;    height: 28px;}
        .icon3 {    width: 56px;    height: 30px;}
    }
}
.section-number {
    .number-blocks .number-block-line {    margin-bottom: 41px;}
    .cols .number {padding-left: 18px;
        span {    margin-top: -1px;}
    }
    .graf-block .graf-line .graf .graf-title.abs {    width: 57px;}
    .country-number .country-block-in .number-line {    margin-bottom: 17px;
        .flag-block .flag .other-block {text-align: center;
            img {width: auto; height: 24px;margin: 5px 0;}
            &:before, &:after {display: none;}
        }
        .flag-block .flag.country-flag {width:50px; border: 1px solid rgba(0,0,0,0.5);}
        .cols .col .number {padding-left:0;
            span {    margin-top: 6px;}
        }
    }
    .graf-img-blocks .cols {
        .col-hov {
            &:hover {opacity: 1;z-index: 5;
                .help{opacity: 1;}
            }
            >a {color:#000;}
            .number {padding: 0;}
        }
        .pas-title {    opacity: 1;
            b {    opacity: 0.6;}
            .help {display: inline-block;vertical-align: middle;z-index: 3;opacity: 0;    margin: -3px 0 0 4px;    transition: all 0.3s ease-out;
                .help-drop {    padding: 9px 11px 8px 10px;    top: -5px;width: 200px;text-transform: none;font-weight: 400;font-size: 13px;  line-height: 1.15;    transform: translateY(0%);
                    &:before {    top: 14px;}
                }
            }
        }
        .number{font-size: 37px;}
    }
}
.content {transition: opacity 0.3s ease-out;}
.loaded .content {opacity: 0.5;}
.window .win-left .win-vals .pr-row .pr-val .pr-val-width {min-width: 1px;
    &.empty {min-width: 0;
        span {margin-left:0;}
    }
}
.section-cat {
    .pas-cols .pas-col { width: 18%;    margin-left: 2.5%;
        .pas-table {
            td {    padding-bottom: 1px;}
            .link-logo{font-size: 0;
                &:hover {    opacity: 1;
                    img {    opacity: 0.7;}
                }
            }
        }
        &:nth-child(5n+1){margin-left:0;}
    }
    .pas-cols-comp .pas-col .pas-table td {height: 43px;}
}
.comp-num {position: relative;
    .drop {z-index:5;transform: translateX(-50%); margin-top:0px; border-radius:4px; opacity:0;visibility: hidden; position: absolute;top: 32px;background: rgba(0,0,0,0.8);left: 50%;list-style: none;
        &:before {content:'';position: absolute;left: 50%;border:5px solid transparent;margin-left:-5px;top:-10px;border-bottom:5px solid rgba(0, 0, 0, 0.8); }
        &:after{content: '';position: absolute;left: 0;right: 0;top: -10px;height: 10px;}
        li { list-style:none;   height: 30px;padding-right:45px;padding-bottom:0px; float: none;background: transparent;margin:0 0 5px;line-height: 30px;text-align: left;
            &:hover {background:rgba(255,255,255,0.2);}
            a {display: block;padding: 0 10px;font-size: 13px;color: #ffffff;white-space: nowrap;    display: block;
                span {font-size: 13px;color: #ffffff;width:auto;background: transparent;text-align: left;height: 30px;line-height: 30px;}
            }
            i {width: 30px;  height: 30px; line-height: 30px; margin-right: 10px;    font-size: 0;    display: block;    float: left;    border-radius: 3px;    background-color: #ffffff;    text-align: center;}
            
        }
        li:last-child {margin-bottom:0;}
        li.last {display: none;}
    }
    &:hover{
        .drop {min-width: 160px;margin-top:10px;opacity:1;visibility: visible; padding: 5px 0 5px;  transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear; 
            span {color: #fff;}
        }
    }
}
.group-p {display: inline-block;position: relative;
    .drop {z-index:5;transform: translateX(-50%); margin-top:0px; border-radius:4px; opacity:0;visibility: hidden; position: absolute;top: 20px;background: rgba(0,0,0,0.8);left: 50%;list-style: none;
        &:before {content:'';position: absolute;left: 50%;border:5px solid transparent;margin-left:-5px;top:-10px;border-bottom:5px solid rgba(0, 0, 0, 0.8); }
        &:after{content: '';position: absolute;left: 0;right: 0;top: -10px;height: 10px;}
        li { list-style:none;   height: 30px;padding-right:45px;padding-bottom:0px; float: none;background: transparent;margin:0 0 5px;line-height: 30px;text-align: left;
            &:hover {background:rgba(255,255,255,0.2);}
            a {display: block;padding: 0 10px;font-size: 13px;color: #ffffff;white-space: nowrap;    display: block;
                span {font-size: 13px;color: #ffffff;width:auto;background: transparent;text-align: left;height: 30px;line-height: 30px;}
            }
            i {width: 30px;  height: 30px; line-height: 30px; margin-right: 10px;    font-size: 0;    display: block;    float: left;    border-radius: 3px;    background-color: #ffffff;    text-align: center;}
            
        }
        li:last-child {margin-bottom:0;}
        li.last {display: none;}
    }
    &:hover{
        .drop {min-width: 160px;margin-top:10px;opacity:1;visibility: visible; padding: 5px 0 5px;  transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear; 
            span {color: #fff;}
        }
    }
}
.fancybox-inner {overflow: visible !important;}
.window {padding: 41px 50px 40px 50px;
    .win-graf {float: left;margin-left: 80px;}
    .win-left .win-vals {
        &.checks .pr-row .pr-name {width: 170px;cursor: pointer;}
        .pr-row {
            .pr-name {opacity: 1;color: rgba(0,0,0,0.5);}
            .jq-checkbox{transition: background 0.2s linear; float: left; border-radius: 10px; width: 31px; height: 20px;     top: -1px;    margin-right: 10px;border: 2px solid rgba(0,0,0,0); background: rgba(0,0,0,0.2);
                .jq-checkbox__div { transition: all 0.2s linear; background: #fff; position: absolute; left: 0px; top: 0px; width: 16px; height: 16px; border-radius: 8px;}
                &.checked .jq-checkbox__div {    left: 11px;}
            }
            &.check_color_1 {
                .jq-checkbox.checked {  background-color: #ae2231;}
                .pr-val .pr-val-width { background-color: #ae2231;}
            }
            &.check_color_2 {
                .jq-checkbox.checked {  background-color: #9cbcdf;}
                .pr-val .pr-val-width { background-color: #9cbcdf;}
            }
            &.check_color_3 {
                .jq-checkbox.checked {  background-color: #9895d6;}
                .pr-val .pr-val-width { background-color: #9895d6;}
            }
            &.check_color_4 {
                .jq-checkbox.checked {  background-color: #eca330;}
                .pr-val .pr-val-width { background-color: #eca330;}
            }
            &.check_color_5 {
                .jq-checkbox.checked {  background-color: #5a9ad4;}
                .pr-val .pr-val-width { background-color: #5a9ad4;}
            }
        }
    }
}
.section-number .country-number .country-block-in .number-line .flag-block .country-flag img {    width: 50px!important;
    height: 36px!important;}