/* constants */
/*$widthMax:1710px;*/
/*== malihu jquery custom scrollbar plugin ==Plugin URI:http://manos.malihu.gr/jquery-custom-content-scroller*/
/* ---------------1. BASIC STYLE -------------------------*/
.mCustomScrollbar {
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom; }

.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action {
  -ms-touch-action: auto;
  touch-action: auto; }

.mCustomScrollBox {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: none;
  direction: ltr; }

.mCSB_container {
  overflow: hidden;
  width: auto;
  height: auto; }

/* ---------------2. VERTICAL SCROLLBAR y-axis---------------------------------------*/
.mCSB_inside > .mCSB_container {
  margin-right: 20px; }

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0; }

.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
  margin-right: 0;
  margin-left: 30px; }

.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-left: 0; }

.mCSB_scrollTools {
  position: absolute;
  width: 10px;
  height: auto;
  left: auto;
  top: 0px;
  right: 5px;
  bottom: 0px; }

.mCSB_outside + .mCSB_scrollTools {
  right: -26px; }

.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools, .mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  right: auto;
  left: 0; }

.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  left: -26px; }

.mCSB_scrollTools .mCSB_draggerContainer {
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0px;
  height: auto; }

.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0; }

.mCSB_scrollTools .mCSB_draggerRail {
  width: 8px;
  height: 100%;
  margin: 0 auto;
  border-radius: 4px; }

.mCSB_scrollTools .mCSB_dragger {
  cursor: pointer;
  width: 100%;
  height: 30px;
  z-index: 1; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  position: relative;
  width: 10px;
  height: 100%;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center; }

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  width: 12px; }

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 8px; }

.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer; }

.mCSB_scrollTools .mCSB_buttonDown {
  bottom: 0; }

/* ---------3. HORIZONTAL SCROLLBAR x-axis-----------------------------------*/
.mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-right: 0;
  margin-bottom: 29px; }

.mCSB_horizontal.mCSB_outside > .mCSB_container {
  min-height: 100%; }

.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
  width: auto;
  height: 10px;
  top: auto;
  right: 0;
  bottom: 5px;
  left: 0; }

.mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  bottom: -26px; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer {
  margin: 0 0px; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 10px;
  margin: 0px 0; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 100px;
  height: 100%;
  left: 0; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 6px;
  margin: 1px auto; }

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  height: 12px;
  margin: 2px auto; }

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  height: 8px;
  margin: 4px 0; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft, .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  display: block;
  position: absolute;
  width: 20px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
  left: 0; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  right: 0; }

/* -----------4. VERTICAL AND HORIZONTAL SCROLLBARS yx-axis -----------------------------------------------------*/
.mCSB_container_wrapper {
  position: absolute;
  height: auto;
  width: auto;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 30px; }

.mCSB_container_wrapper > .mCSB_container {
  padding-right: 30px;
  padding-bottom: 30px;
  box-sizing: border-box; }

.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 20px; }

.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 20px; }

.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 0; }

.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 0; }

.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 20px; }

.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 0; }

.mCS-dir-rtl > .mCSB_inside > .mCSB_container_wrapper {
  margin-right: 0;
  margin-left: 30px; }

.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container {
  padding-right: 0; }

.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container {
  padding-bottom: 0; }

.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
  margin-left: 0; }

.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0; }

/* -----------------------5. TRANSITIONS -------------------------------------*/
.mCSB_scrollTools, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {
  -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out; }

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail {
  -webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,opacity .2s ease-in-out, background-color .2s ease-in-out;
  transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,opacity .2s ease-in-out, background-color .2s ease-in-out; }

.mCSB_scrollTools {
  background-color: #444444;
  border-radius: 5px; }

.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools, .mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
  opacity: 0;
  filter: "alpha(opacity=0)";
  -ms-filter: "alpha(opacity=0)"; }

.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag, .mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag, .mCustomScrollBox:hover > .mCSB_scrollTools, .mCustomScrollBox:hover ~ .mCSB_scrollTools, .mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools, .mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)"; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #6b6b6b;
  border-radius: 5px; }

.scroll {
  height: 155px; }
  .scroll ul {
    margin: 0;
    padding: 5px 0 0; }

/* */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  text-shadow: none;
  background: #fff; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px; }

.fancybox-close {
  border-radius: 50%;
  font-size: 0;
  text-decoration: none;
  text-indent: 9999px;
  position: absolute;
  top: 30px;
  color: #fff;
  right: 50%;
  margin-right: -604px;
  width: 32px;
  height: 32px;
  border: none;
  background: url(../img/close.svg) no-repeat center;
  cursor: pointer;
  z-index: 8040;
  border: solid 1px rgba(0, 0, 0, 0.2); }
  .fancybox-close:hover {
    background-image: url(../img/close-hov.svg); }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0px; }

.fancybox-next {
  right: 0px; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 8040;
  background: url(../img/arr.png) no-repeat center #ececec;
  width: 30px;
  height: 50px;
  top: 50%;
  margin-top: -25px; }

.fancybox-prev span {
  left: 0px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.fancybox-next span {
  right: 0px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

.fancybox-lock {
  overflow: hidden; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(41, 41, 41, 0.8); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-x: hidden; }

.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/* */
.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  margin-left: 0px;
  width: 100%; }

.jq-selectbox select {
  opacity: 0;
  display: none; }

.jq-selectbox__select {
  height: 32px;
  font-size: 13px;
  line-height: 32px;
  padding: 0 25px 0 10px;
  color: #fff; }

.jq-selectbox:hover .jq-selectbox__select {
  color: #ff3046; }

.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888; }

.jq-selectbox__select-text {
  display: block;
  min-width: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 100%; }

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 10px;
  overflow: hidden;
  width: 10px;
  height: 10px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.jq-selectbox__dropdown {
  top: 32px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 100%;
  border-radius: 3px;
  font-size: 13px;
  line-height: 32px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff; }

.jq-selectbox__search {
  margin: 5px; }

.jq-selectbox__search input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  outline: none;
  border: 1px solid #CCC;
  border-radius: 3px;
  box-shadow: inset 1px 1px #F1F1F1;
  color: #333;
  -webkit-appearance: textfield; }

.jq-selectbox__search input::-webkit-search-cancel-button, .jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none; }

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px; }

.jq-selectbox ul {
  margin: 0;
  padding: 0;
  max-height: 240px; }
  .jq-selectbox ul::-webkit-scrollbar {
    width: 0; }

.jq-selectbox li.placeholder {
  display: none !important; }

.jq-selectbox li {
  min-height: 14px;
  padding: 0px 10px 0px 10px;
  overflow: hidden;
  text-overflow: ellipsis; }

.jq-selectbox li.selected, .jq-selectbox li.sel {
  background-color: rgba(0, 0, 0, 0.8); }

.jq-selectbox li:hover {
  color: #ff3046; }

.ui-datepicker-title {
  position: relative; }
  .ui-datepicker-title:before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 109px;
    border-radius: 3px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    height: 32px; }
  .ui-datepicker-title:after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 81px;
    border-radius: 3px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    height: 32px; }

.ui-datepicker-month {
  float: left;
  width: 109px; }

.ui-datepicker-year {
  float: right;
  width: 81px; }

select {
  opacity: 0; }

/* */
.ui-datepicker {
  top: 90px !important;
  z-index: 20;
  display: none;
  margin: 17px 0 0 -90px;
  width: 260px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 13px;
  padding: 30px 30px 23px; }
  .ui-datepicker:before {
    content: '';
    position: absolute;
    left: 50%;
    border: 5px solid transparent;
    margin-left: -5px;
    top: -10px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.8); }
  .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    display: none; }
  .ui-datepicker .ui-datepicker-title {
    height: 32px; }
  .ui-datepicker table.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
    margin: 12px 0 0;
    position: relative;
    z-index: 3;
    border-collapse: separate; }
    .ui-datepicker table.ui-datepicker-calendar th {
      font-size: 12px;
      color: #fff;
      height: 30px;
      position: relative;
      vertical-align: top;
      line-height: 30px;
      width: 16%; }
      .ui-datepicker table.ui-datepicker-calendar th.ui-datepicker-week-end {
        color: #ec8a8a; }
    .ui-datepicker table.ui-datepicker-calendar td {
      vertical-align: middle;
      color: rgba(255, 255, 255, 0.3);
      height: 30px;
      text-align: center; }
      .ui-datepicker table.ui-datepicker-calendar td a {
        z-index: 2;
        display: inline-block;
        position: relative;
        font-weight: 400;
        color: #fff;
        border-radius: 50%;
        width: 29px;
        height: 29px;
        line-height: 27px;
        border: 1px solid transparent; }
        .ui-datepicker table.ui-datepicker-calendar td a:hover {
          color: #ff3046; }
      .ui-datepicker table.ui-datepicker-calendar td.ui-datepicker-current-day a {
        background-color: #ae2231; }
      .ui-datepicker table.ui-datepicker-calendar td.ui-datepicker-other-month a {
        color: rgba(255, 255, 255, 0.3); }

.ui-helper-hidden-accessible {
  position: absolute;
  top: -9999px; }

.nav-up.ui-datepicker {
  top: -390px !important;
  opacity: 0; }

/* ___________ reset CSS____________________*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box; }

html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit; }

a, p, ul, ol, li, img, span, strong, em {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit; }

table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit; }

applet, object, iframe, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, font, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, caption, fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit; }

article, aside, figure, footer, header, hgroup, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit; }

canvas, details, embed, figcaption, menu, nav, output, ruby, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

b, strong {
  font-weight: bold; }

em, i {
  font-style: italic; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1; }

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 12px; }

ol {
  list-style: decimal; }

ul {
  list-style: disc; }

ul ul, ol ol {
  padding-top: 0em; }

dt {
  font-size: 18px;
  margin: 0; }

dd {
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px; }

html {
  height: 100%;
  background: #fff; }

input[type="submit"], textarea, button {
  -webkit-appearance: none; }

img {
  border: none;
  max-width: 100%;
  vertical-align: middle; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.clear {
  clear: both;
  position: relative;
  height: 1px;
  overflow: hidden; }

img.alignleft {
  float: left;
  margin: 3px 28px 10px 0px; }

.alignright {
  text-align: right; }

img.alignright {
  float: right;
  margin: 3px 0px 10px 28px; }

.aligncenter {
  text-align: center; }

img.alignnone {
  margin-bottom: 14px; }

/*-----------------------------------*/
body {
  font-size: 15px;
  font-family: arial, sans-serif;
  line-height: 1.4;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  height: 100%;
  position: relative;
  -webkit-text-size-adjust: none; }

a {
  color: #ae2231;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }

a:hover {
  color: #ff3046; }

h1, .h1 {
  margin: 0 auto 10px;
  font-weight: bold;
  line-height: 1.15;
  font-size: 47px;
  text-transform: uppercase;
  text-align: center; }

h2, .h2 {
  margin: 0 auto 10px;
  font-weight: bold;
  line-height: 1.15;
  font-size: 25px;
  text-transform: uppercase; }

h3 {
  margin: 0 0 8px;
  font-weight: 400;
  font-size: 15px;
  opacity: 0.6;
  text-transform: uppercase; }

.main-wrapper {
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  min-width: 1300px;
  background: #f3f3f3; }

.wrapper {
  width: 1300px;
  margin: 0 auto;
  padding: 0 50px; }

.wrapper:after {
  content: '';
  display: block;
  clear: both; }

.include-svg-all {
  display: none; }

.icon svg {
  width: 100%;
  height: 100%;
  display: block; }

/*--------------- header ------------------*/
#header {
  padding: 30px 0 23px;
  background: #f3f3f3;
  position: relative;
  z-index: 20;
  left: 0;
  right: 0;
  text-align: center; }
  #header .wrapper {
    position: relative; }
  #header .logo {
    line-height: 0;
    font-size: 0;
    float: left;
    width: 171px;
    margin: -9px 19px 0 0px;
    position: relative; }
  #header .head-txt {
    float: left;
    margin-right: 0px;
    text-align: left; }
    #header .head-txt .head-dash {
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase; }
    #header .head-txt .head-date {
      font-size: 12px;
      opacity: 0.5;
      line-height: 18px;
      margin-top: -3px;
      position: absolute;
      left: 48px;
      top: 31px;
      font-size: 11px; }
      #header .head-txt .head-date br {
        display: none; }
    #header .head-txt .head-logout {
      color: rgba(0, 0, 0, 0.6);
      font-size: 13px;
      margin: 7px 15px 0 14px;
      display: inline-block; }
      #header .head-txt .head-logout svg {
        display: inline-block;
        vertical-align: middle;
        margin: -4px 0 0 11px;
        width: 22px;
        height: 16px;
        fill: #ae2231; }
      #header .head-txt .head-logout:hover {
        color: #ff3046; }
        #header .head-txt .head-logout:hover svg {
          fill: #ff3046; }
  #header .head-img {
    float: left;
    position: relative;
    z-index: 31;
    margin: 0; }
    #header .head-img li {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      list-style: none;
      margin-left: 16px;
      padding-bottom: 10px; }
      #header .head-img li a {
        fill: #ae2231; }
        #header .head-img li a:hover {
          fill: #ff3046; }
        #header .head-img li a .icon {
          display: inline-block; }
        #header .head-img li a .icon1 {
          width: 42px;
          height: 26px; }
        #header .head-img li a .icon2 {
          width: 32px;
          height: 28px; }
        #header .head-img li a .icon3 {
          width: 55px;
          height: 27px; }
      #header .head-img li .drop {
        min-width: 160px;
        -webkit-transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;
                transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;
        margin-top: 0px;
        border-radius: 4px;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 32px;
        background: rgba(0, 0, 0, 0.8);
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        list-style: none; }
        #header .head-img li .drop:before {
          content: '';
          position: absolute;
          left: 50%;
          border: 5px solid transparent;
          margin-left: -5px;
          top: -10px;
          border-bottom: 5px solid rgba(0, 0, 0, 0.8); }
        #header .head-img li .drop li {
          list-style: none;
          overflow: hidden;
          height: 30px;
          padding: 0;
          display: block;
          float: none;
          background: transparent;
          margin: 0 0 5px;
          line-height: 30px;
          text-align: left; }
          #header .head-img li .drop li:hover, #header .head-img li .drop li:focus {
            background: rgba(255, 255, 255, 0.2); }
          #header .head-img li .drop li a {
            display: block;
            padding: 0 10px;
            font-size: 13px;
            color: #ffffff; }
          #header .head-img li .drop li i {
            float: left;
            width: 30px;
            height: 30px;
            line-height: 0px;
            margin-right: 10px; }
            #header .head-img li .drop li i img {
              width: 30px;
              height: 30px; }
          #header .head-img li .drop li span {
            display: block;
            line-height: 30px;
            height: 30px;
            margin-left: 40px; }
        #header .head-img li .drop li:last-child {
          margin-bottom: 0; }
      #header .head-img li:hover {
        z-index: 4; }
        #header .head-img li:hover a {
          fill: #ff3046; }
        #header .head-img li:hover .drop {
          margin-top: 10px;
          opacity: 1;
          visibility: visible;
          padding: 5px 0 5px; }
      #header .head-img li.active a {
        fill: rgba(0, 0, 0, 0.2); }
  #header .head-right {
    float: right;
    width: 358px; }
  #header .period-row {
    text-align: left
    /*&:last-child .btn-add.hid {display: inline-block;}*/ }
    #header .period-row + .period-row {
      margin-top: 10px; }
    #header .period-row.hid {
      overflow: hidden;
      height: 0;
      visibility: hidden;
      margin: 0; }
    #header .period-row:after {
      content: '';
      display: block;
      clear: both; }
    #header .period-row .period-link {
      float: left;
      line-height: 32px;
      padding: 0 10px;
      font-size: 14px; }
      #header .period-row .period-link.active {
        color: rgba(0, 0, 0, 0.5); }
    #header .period-row .period-inp {
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      float: left;
      width: 190px;
      line-height: 30px;
      height: 32px;
      border-radius: 3px;
      border: solid 1px rgba(0, 0, 0, 0.2); }
      #header .period-row .period-inp input {
        cursor: pointer;
        text-align: center;
        font-size: 14px;
        font-family: arial;
        color: rgba(0, 0, 0, 0.5);
        border: none;
        background: transparent;
        width: 77px; }
        #header .period-row .period-inp input:hover, #header .period-row .period-inp input:focus {
          color: #fc1337; }
      #header .period-row .period-inp .beet {
        color: rgba(0, 0, 0, 0.5);
        margin: 0 -3px; }
    #header .period-row .btn-add.hid {
      display: none; }
  #header .head-cntr {
    display: inline-block;
    padding-left: 8px;
    counter-reset: my-badass-counter; }
    #header .head-cntr .btn-add {
      margin-left: 8px; }
    #header .head-cntr.nmb .proj-row:before {
      font-weight: bold;
      margin-right: 5px;
      content: counter(my-badass-counter);
      counter-increment: my-badass-counter;
      display: block;
      float: left;
      line-height: 32px;
      color: #fff;
      text-align: center;
      width: 32px;
      height: 32px;
      border-radius: 3px;
      background-color: #9cbcdf; }
    #header .head-cntr.nmb .proj-row:nth-child(odd):before {
      background-color: #9895d6; }
    #header .head-cntr.nmb .proj-row .btn-add.hid {
      display: none; }
    #header .head-cntr.nmb .proj-row .proj-list > li.last {
      display: none; }
    #header .head-cntr.nmb .proj-row .proj-list > li ul li.last {
      display: block; }
  #header .proj-row {
    position: relative; }
    #header .proj-row.default {
      display: none; }
      #header .proj-row.default .btn-remove {
        display: block; }
    #header .proj-row:hover {
      position: relative;
      z-index: 2; }
    #header .proj-row:after {
      content: '';
      display: block;
      clear: both; }
    #header .proj-row .proj-list {
      float: left;
      list-style: none;
      margin: 0;
      padding: 0; }
      #header .proj-row .proj-list > li > a > i {
        float: none;
        display: table-cell;
        vertical-align: middle;
        font-size: 0;
        line-height: 0; }
      #header .proj-row .proj-list > li > a > span {
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        color: #fff;
        width: auto;
        font-size: 13px;
        padding: 10px;
        line-height: 15px;
        z-index: 5;
        -webkit-transform: translateX(-50%);
        margin-top: 0px;
        border-radius: 4px;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 32px;
        background: rgba(0, 0, 0, 0.8);
        left: 50%; }
        #header .proj-row .proj-list > li > a > span:before {
          content: '';
          position: absolute;
          left: 50%;
          border: 5px solid transparent;
          margin-left: -5px;
          top: -10px;
          border-bottom: 5px solid rgba(0, 0, 0, 0.8); }
      #header .proj-row .proj-list > li > a:hover span {
        color: #fff;
        margin-top: 10px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;
                transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear; }
      #header .proj-row .proj-list li {
        margin-right: 5px;
        float: left;
        position: relative;
        line-height: 0px;
        padding-bottom: 10px; }
        #header .proj-row .proj-list li i {
          font-size: 0;
          text-align: center;
          display: block;
          float: left;
          width: 32px;
          height: 32px;
          line-height: 32px;
          border-radius: 3px;
          background-color: #ffffff; }
          #header .proj-row .proj-list li i img {
            height: 22px;
            width: 22px;
            vertical-align: middle;
            display: inline-block; }
        #header .proj-row .proj-list li a {
          font-size: 0; }
        #header .proj-row .proj-list li span {
          cursor: pointer;
          display: block;
          font-size: 13px;
          width: 32px;
          height: 32px;
          background: #fff;
          line-height: 32px;
          border-radius: 3px;
          color: rgba(0, 0, 0, 0.6);
          text-align: center; }
        #header .proj-row .proj-list li .drop {
          z-index: 5;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
          margin-top: 0px;
          border-radius: 4px;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 32px;
          background: rgba(0, 0, 0, 0.8);
          left: 50%;
          list-style: none; }
          #header .proj-row .proj-list li .drop:before {
            content: '';
            position: absolute;
            left: 50%;
            border: 5px solid transparent;
            margin-left: -5px;
            top: -10px;
            border-bottom: 5px solid rgba(0, 0, 0, 0.8); }
          #header .proj-row .proj-list li .drop li {
            list-style: none;
            height: 30px;
            padding-right: 45px;
            padding-bottom: 0px;
            float: none;
            background: transparent;
            margin: 0 0 5px;
            line-height: 30px;
            text-align: left; }
            #header .proj-row .proj-list li .drop li:hover {
              background: rgba(255, 255, 255, 0.2); }
            #header .proj-row .proj-list li .drop li a {
              display: block;
              padding: 0 10px;
              font-size: 13px;
              color: #ffffff;
              white-space: nowrap;
              display: block; }
              #header .proj-row .proj-list li .drop li a span {
                font-size: 13px;
                color: #ffffff;
                width: auto;
                background: transparent;
                text-align: left;
                height: 30px;
                line-height: 30px; }
            #header .proj-row .proj-list li .drop li i {
              width: 30px;
              height: 30px;
              line-height: 30px;
              margin-right: 10px; }
          #header .proj-row .proj-list li .drop li:last-child {
            margin-bottom: 0; }
          #header .proj-row .proj-list li .drop li.last {
            display: none; }
        #header .proj-row .proj-list li:hover span {
          color: #ff3046; }
        #header .proj-row .proj-list li:hover .drop {
          min-width: 160px;
          margin-top: 10px;
          opacity: 1;
          visibility: visible;
          padding: 5px 0 5px;
          -webkit-transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;
                  transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear; }
          #header .proj-row .proj-list li:hover .drop span {
            color: #fff; }
        #header .proj-row .proj-list li.dis > a > i img {
          opacity: 0.3; }
        #header .proj-row .proj-list li.dis ul li a {
          color: rgba(255, 255, 255, 0.3); }
        #header .proj-row .proj-list li.dis ul li.active a {
          color: white; }
    #header .proj-row .btn-remove {
      display: none;
      margin-left: 8px;
      float: left; }
      #header .proj-row .btn-remove.active {
        display: block;
        float: left; }
    #header .proj-row .btn-add {
      float: left; }
      #header .proj-row .btn-add.hid {
        display: none; }
    #header .proj-row.vs .btn-add.hid {
      display: block; }
  #header .proj-row + .proj-row.default {
    display: block;
    margin-top: 0px; }

#header {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform .3s;
          transition: transform .3s; }
  #header.nav-up {
    -webkit-transition: -webkit-transform 0s;
            transition: transform 0s; }
  #header.fix.nav-up {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%); }
  #header.fix {
    -webkit-transition: -webkit-transform 0s;
            transition: transform 0s;
    position: fixed;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%); }
  #header.nav-down {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: -webkit-transform .3s;
            transition: transform .3s; }
  #header.fix.nav-down {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%); }

#header.fix + .content {
  margin-top: 95px; }

/* */
#footer {
  height: 80px; }
  #footer .foot-in {
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 0;
    line-height: 20px; }
  #footer .copy {
    float: right;
    color: #5d5d5d; }
  #footer .foot-logout {
    float: left;
    color: #5d5d5d; }
    #footer .foot-logout a {
      margin-left: 8px; }

/*--------------- content --------------*/
.content {
  clear: both;
  display: block; }

section:after {
  content: '';
  display: block;
  clear: both; }

/* */
.btn {
  box-sizing: border-box;
  font-weight: 400;
  font-family: arial, sans-serif;
  cursor: pointer;
  display: inline-block;
  border: none;
  text-align: center;
  font-size: 14px;
  line-height: 32px;
  height: 32px;
  padding: 0 40px;
  color: #fff;
  background: #ae2231;
  overflow: hidden;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
  .btn:hover {
    color: #fff;
    background: #c10f22; }

.btns {
  text-align: center; }

.form-row {
  position: relative;
  margin-bottom: 10px; }
  .form-row:after {
    content: '';
    display: block;
    clear: both; }

.form-col {
  float: left;
  width: 46.8%; }
  .form-col + .form-col {
    float: right; }

.t-inp, textarea {
  padding: 5px 5px 5px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  -webkit-appearance: none;
  height: 32px;
  border: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  font-family: arial,sans-serif;
  box-sizing: border-box; }

.t-inp:focus, textarea:focus {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.98); }

textarea {
  height: 126px;
  resize: none;
  overflow: auto;
  padding: 15px 22px;
  border: 3px solid #1f805d; }

.t-inp.error, textarea.error {
  border-color: #ff0000; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

textarea:focus::-webkit-input-placeholder {
  color: transparent; }

textarea:focus:-moz-placeholder {
  color: transparent; }

textarea:focus::-moz-placeholder {
  color: transparent; }

textarea:focus:-ms-input-placeholder {
  color: transparent; }

.login-cover {
  background: #000;
  text-align: center;
  color: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  .login-cover .logo {
    display: block;
    margin: 0 0 30px; }
  .login-cover .login-cont {
    width: 171px;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 50%;
    margin-left: -85px; }
  .login-cover .t-inp {
    text-align: center; }
  .login-cover .btn {
    width: 100%;
    display: block;
    margin-top: 32px; }

/* */
.section-cat {
  border-bottom: 10px solid #f3f3f3;
  padding: 30px 0 0px;
  position: relative;
  background: #fff; }
  .section-cat .wrapper {
    position: relative; }
  .section-cat .close-cat {
    position: absolute;
    right: 50px;
    top: 0; }
  .section-cat:last-child {
    border: none; }
  .section-cat .pas-cols:after {
    content: '';
    display: block;
    clear: both; }
  .section-cat .pas-cols .pas-col {
    float: left;
    width: 20%;
    padding-bottom: 24px;
    padding-top: 8px; }
    .section-cat .pas-cols .pas-col:nth-child(5n+1) {
      clear: both; }
    .section-cat .pas-cols .pas-col .pas-top {
      width: 192px;
      margin-bottom: 10px;
      position: relative; }
      .section-cat .pas-cols .pas-col .pas-top:after {
        content: '';
        display: block;
        clear: both; }
      .section-cat .pas-cols .pas-col .pas-top .pas-title {
        opacity: 0.6;
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 5px; }
      .section-cat .pas-cols .pas-col .pas-top .pas-big {
        float: left;
        font-size: 21px;
        font-weight: bold; }
      .section-cat .pas-cols .pas-col .pas-top .pas-graf {
        float: right;
        margin-top: 3px; }
        .section-cat .pas-cols .pas-col .pas-top .pas-graf canvas {
          display: block; }
      .section-cat .pas-cols .pas-col .pas-top:hover {
        opacity: 0.7; }
    .section-cat .pas-cols .pas-col .pas-table {
      background: url(../img/line.jpg) repeat 0 0px;
      position: relative; }
      .section-cat .pas-cols .pas-col .pas-table:after {
        content: '';
        background: #fff;
        height: 2px;
        left: 0;
        right: 2px;
        bottom: 0;
        position: absolute; }
      .section-cat .pas-cols .pas-col .pas-table table {
        margin: 0;
        width: 200px; }
        .section-cat .pas-cols .pas-col .pas-table table tr.hid {
          display: none; }
      .section-cat .pas-cols .pas-col .pas-table td {
        height: 36px;
        vertical-align: middle;
        padding-right: 8px; }
      .section-cat .pas-cols .pas-col .pas-table td:last-child {
        width: 50px; }
      .section-cat .pas-cols .pas-col .pas-table .comp-num {
        font-size: 15px;
        font-weight: bold;
        width: 32px;
        height: 32px;
        border-radius: 3px;
        color: #fff;
        text-align: center;
        line-height: 32px; }
      .section-cat .pas-cols .pas-col .pas-table .link-logo {
        vertical-align: middle;
        position: relative;
        display: inline-block;
        z-index: 3; }
        .section-cat .pas-cols .pas-col .pas-table .link-logo i {
          width: 24px;
          height: 24px;
          line-height: 24px;
          color: #000;
          font-style: normal;
          display: block;
          text-align: center; }
        .section-cat .pas-cols .pas-col .pas-table .link-logo .i-num {
          display: block;
          line-height: 22px;
          border: solid 1px rgba(0, 0, 0, 0.2);
          font-size: 10px;
          color: rgba(0, 0, 0, 0.6);
          border-radius: 3px; }
        .section-cat .pas-cols .pas-col .pas-table .link-logo .link-drop-right {
          line-height: 1.15;
          width: 155px;
          padding: 10px 11px 10px 15px;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          left: 100%;
          margin-left: 0;
          background: rgba(0, 0, 0, 0.8);
          color: #fff;
          line-height: 1.15;
          font-size: 13px;
          -webkit-transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;
                  transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;
          border-radius: 4px;
          opacity: 0;
          visibility: hidden; }
          .section-cat .pas-cols .pas-col .pas-table .link-logo .link-drop-right:before {
            content: '';
            position: absolute;
            left: -10px;
            border: 5px solid transparent;
            margin-top: -5px;
            top: 50%;
            border-right: 5px solid rgba(0, 0, 0, 0.8); }
        .section-cat .pas-cols .pas-col .pas-table .link-logo:hover {
          z-index: 11;
          opacity: 0.7; }
          .section-cat .pas-cols .pas-col .pas-table .link-logo:hover .link-drop-right {
            margin-left: 10px;
            opacity: 1;
            visibility: visible; }
          .section-cat .pas-cols .pas-col .pas-table .link-logo:hover .i-num {
            color: #ff3046; }
      .section-cat .pas-cols .pas-col .pas-table .pas-val {
        z-index: 10;
        float: right;
        text-align: right;
        color: #000;
        display: block;
        position: relative; }
        .section-cat .pas-cols .pas-col .pas-table .pas-val .link-drop {
          position: absolute;
          text-align: center;
          -webkit-transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;
                  transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;
          margin-top: 0px;
          border-radius: 4px;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          bottom: 100%;
          width: 167px;
          background: rgba(0, 0, 0, 0.8);
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
          color: #fff;
          font-size: 13px;
          line-height: 1.38;
          padding: 6px; }
          .section-cat .pas-cols .pas-col .pas-table .pas-val .link-drop:after {
            content: '';
            position: absolute;
            left: 50%;
            border: 5px solid transparent;
            margin-left: -5px;
            bottom: -10px;
            border-top: 5px solid rgba(0, 0, 0, 0.8); }
        .section-cat .pas-cols .pas-col .pas-table .pas-val:hover {
          color: rgba(0, 0, 0, 0.7); }
          .section-cat .pas-cols .pas-col .pas-table .pas-val:hover .link-drop {
            margin-bottom: 10px;
            opacity: 1;
            visibility: visible; }
      .section-cat .pas-cols .pas-col .pas-table .pas-perc {
        text-align: right;
        color: #55bb00;
        display: block; }
        .section-cat .pas-cols .pas-col .pas-table .pas-perc.c-red {
          color: #db3727; }
        .section-cat .pas-cols .pas-col .pas-table .pas-perc:hover {
          opacity: 0.7; }
  .section-cat .pas-cols-comp .pas-col .pas-top {
    margin-bottom: 5px; }
  .section-cat .pas-cols-comp .pas-col .pas-table {
    background-image: url(../img/line2.jpg); }
    .section-cat .pas-cols-comp .pas-col .pas-table td {
      height: 42px; }
  .section-cat .pas-cols-soc .pas-col .pas-table .link-logo i {
    background-color: #6d1f30;
    border-radius: 50%;
    overflow: hidden;
    font-size: 0;
    vertical-align: middle;
    display: table-cell;
    line-height: 0; }
    .section-cat .pas-cols-soc .pas-col .pas-table .link-logo i.i-num {
      border-radius: 50%;
      background: #fff;
      line-height: 22px; }
    .section-cat .pas-cols-soc .pas-col .pas-table .link-logo i img {
      max-width: 14px;
      max-height: 14px; }

.pas-cols + h2 {
  margin-top: 16px; }

.cover-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

.help {
  position: relative; }
  .help > i {
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
    opacity: 0.2;
    display: block;
    margin: 0 auto;
    width: 14px;
    height: 14px;
    background: url(../img/info.svg) no-repeat center; }
  .help .help-drop {
    width: 182px;
    padding: 10px 11px 10px 15px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 100%;
    margin-left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    line-height: 1.15;
    font-size: 13px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden; }
    .help .help-drop:before {
      content: '';
      position: absolute;
      left: -10px;
      border: 5px solid transparent;
      margin-top: -5px;
      top: 50%;
      border-right: 5px solid rgba(0, 0, 0, 0.8); }
    .help .help-drop p {
      margin: 3px 0; }
    .help .help-drop .help-nums {
      margin-bottom: 10px; }
      .help .help-drop .help-nums .help-row {
        overflow: hidden;
        line-height: 1.6; }
        .help .help-drop .help-nums .help-row .help-row-left {
          float: left;
          width: 120px;
          overflow: hidden; }
        .help .help-drop .help-nums .help-row .help-row-right {
          float: right;
          color: #b9ff7f;
          font-weight: bold;
          width: 33px;
          text-align: right; }
  .help:hover {
    z-index: 25; }
    .help:hover > i {
      opacity: 0.5; }
    .help:hover .help-drop {
      margin-left: 10px;
      opacity: 1;
      visibility: visible;
      -webkit-transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;
              transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear; }

.btn-add {
  width: 32px;
  height: 32px;
  border-radius: 3px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border: solid 1px rgba(0, 0, 0, 0.2); }
  .btn-add:before {
    margin-top: -1px;
    content: '';
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/plus.svg) no-repeat center; }
  .btn-add:hover:before {
    background-image: url(../img/plus-hov.svg); }

.btn-remove {
  border-radius: 50%;
  text-indent: 9999px;
  color: #fff;
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url(../img/close.svg) no-repeat center;
  border: solid 1px rgba(0, 0, 0, 0.2); }
  .btn-remove:hover {
    background-image: url(../img/close-hov.svg); }

.section-bot {
  padding: 28px 0 18px;
  background: #fff; }
  .section-bot .bot-cols:after {
    content: '';
    display: block;
    clear: both; }
  .section-bot .bot-cols .bot-col {
    float: left;
    width: 25%; }
  .section-bot .bot-cols .bot-params {
    min-width: 175px;
    line-height: 1.8; }
    .section-bot .bot-cols .bot-params th {
      font-weight: 400;
      opacity: 0.5;
      text-align: left; }
    .section-bot .bot-cols .bot-params td {
      text-align: right;
      white-space: nowrap;
      padding-left: 5px; }
  .section-bot .bot-cols .results-v {
    width: 140px;
    height: 140px;
    color: #fff;
    line-height: 1.6;
    overflow: hidden;
    margin-top: 13px;
    position: relative; }
    .section-bot .bot-cols .results-v .result {
      position: absolute;
      left: 0;
      right: 0;
      top: 0; }
      .section-bot .bot-cols .results-v .result:hover .res-val.abs {
        margin-bottom: 10px;
        opacity: 1;
        visibility: visible; }
    .section-bot .bot-cols .results-v .result + .result {
      position: absolute;
      left: 0;
      right: 0;
      top: auto;
      bottom: 0; }
    .section-bot .bot-cols .results-v .res-val {
      padding: 6px 10px; }
      .section-bot .bot-cols .results-v .res-val.abs {
        text-align: center;
        width: 120px;
        opacity: 0;
        visibility: hidden;
        bottom: 100%;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        padding: 5px 10px;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 4px;
        -webkit-transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;
                transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear; }
        .section-bot .bot-cols .results-v .res-val.abs:after {
          content: '';
          position: absolute;
          bottom: -10px;
          border: 5px solid transparent;
          margin-top: -5px;
          margin-left: -5px;
          left: 50%;
          border-top: 5px solid rgba(0, 0, 0, 0.8); }
    .section-bot .bot-cols .results-v .bg1 {
      height: 100px; }

.bg1 {
  background-color: #9cbce0; }

.bg2 {
  background-color: #9895d6; }

.section-top {
  background-color: #f4f4f4;
  padding: 16px 0 0;
  margin-bottom: 9px;
  position: relative;
  z-index: 5; }
  .section-top .wrapper {
    position: relative; }
  .section-top h1 {
    margin: 0 auto -25px; }
  .section-top .close-cat {
    position: absolute;
    right: 50px;
    top: 11px; }
  .section-top .proj-logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto 0px;
    top: 37px;
    position: relative;
    text-align: center;
    width: 73px;
    line-height: 71px;
    height: 73px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.1); }
    .section-top .proj-logo img {
      max-width: 41px;
      max-height: 41px; }

/* */
.window {
  padding: 41px 180px 40px 50px;
  width: 1300px;
  margin: 0 auto;
  background: #fff; }
  .window canvas {
    display: block; }
  .window:after {
    display: block;
    clear: both;
    content: ''; }
  .window .win-left {
    float: left; }
    .window .win-left h3 {
      margin: 0 0 5px;
      line-height: 1.1; }
    .window .win-left .pas-big {
      font-size: 21px;
      font-weight: bold; }
    .window .win-left .win-vals {
      margin: 31px 0; }
      .window .win-left .win-vals .pr-row {
        line-height: 20px;
        height: 20px;
        clear: both;
        margin-bottom: 7px; }
        .window .win-left .win-vals .pr-row .pr-name {
          float: left;
          opacity: 0.5;
          width: 90px; }
        .window .win-left .win-vals .pr-row .pr-val {
          float: left;
          height: 12px;
          margin-top: 4px;
          width: 271px; }
          .window .win-left .win-vals .pr-row .pr-val .pr-val-width {
            position: relative;
            height: 12px;
            background-color: #ae2231; }
            .window .win-left .win-vals .pr-row .pr-val .pr-val-width span {
              position: absolute;
              left: 100%;
              top: -4px;
              margin-left: 10px; }
    .window .win-left .win-link {
      display: inline-block; }
  .window .win-graf {
    float: right;
    width: 650px; }

#win2, .win2 {
  padding: 41px 150px 34px 50px; }

.br-name {
  font-size: 21px;
  font-weight: bold;
  margin: -13px 0 15px; }
  .br-name i {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; }
    .br-name i img {
      max-height: 100%; }

.br-table {
  width: 388px;
  margin-bottom: 15px; }
  .br-table th {
    text-align: right;
    opacity: 0.6;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 31px; }
  .br-table td {
    text-align: right;
    font-size: 21px;
    line-height: 37px; }
  .br-table .td1 {
    text-align: left;
    font-size: 15px; }
  .br-table .td3 {
    width: 98px; }
  .br-table .tr-tot td {
    font-weight: bold;
    line-height: 30px; }
  .br-table .c-green {
    color: #55bb00; }
    .br-table .c-green svg path {
      fill: #55bb00; }
  .br-table .c-red {
    color: #db3727; }
    .br-table .c-red svg path {
      fill: #db3727; }
  .br-table .br-val i {
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
    margin: 0 0 0 7px; }

/* */
.section-number {
  padding: 33px 0;
  background: #fff; }
  .section-number .pas-title {
    font-weight: bold;
    opacity: 0.6;
    text-transform: uppercase; }
  .section-number .number-blocks {
    margin-bottom: 39px; }
    .section-number .number-blocks .number-block-line {
      margin-bottom: 31px; }
      .section-number .number-blocks .number-block-line:after {
        display: block;
        clear: both;
        content: ''; }
    .section-number .number-blocks:after {
      display: block;
      clear: both;
      content: ''; }
  .section-number .cols {
    clear: both;
    margin-bottom: 28px; }
    .section-number .cols .col {
      width: 22.65%;
      float: left;
      margin-left: 3%; }
      .section-number .cols .col:nth-child(4n+1) {
        clear: both;
        margin-left: 0; }
      .section-number .cols .col.col-hov {
        position: relative; }
        .section-number .cols .col.col-hov:hover {
          opacity: 0.7;
          cursor: pointer; }
    .section-number .cols .number {
      color: #000000;
      font-size: 35px;
      font-family: arial, sans-serif;
      line-height: 41px;
      font-weight: bold; }
      .section-number .cols .number span {
        margin-left: 7px;
        display: inline-block;
        font-weight: 400;
        padding: 0 10px;
        text-align: center;
        border-radius: 3px;
        vertical-align: top;
        margin-top: 5px;
        font-size: 15px;
        line-height: 27px;
        height: 29px; }
      .section-number .cols .number .green {
        border: 1px solid #5b0;
        color: #55bb00;
        margin-right: -10px; }
      .section-number .cols .number .red {
        border: 1px solid #db3727;
        color: #db3727;
        margin-right: -10px; }
      .section-number .cols .number:after {
        display: block;
        clear: both;
        content: ''; }
    .section-number .cols:after {
      display: block;
      clear: both;
      content: ''; }
  .section-number .country-number .country-block-in .number-line .cols .col .number b {
    display: inline-block;
    width: 80px; }
  .section-number .number-line {
    position: relative;
    height: 40px;
    margin-bottom: 18px; }
    .section-number .number-line .ico {
      width: 40px;
      height: 42px;
      position: absolute;
      top: 50%;
      left: -62px;
      margin-top: -16px; }
      .section-number .number-line .ico img {
        width: 100%; }
    .section-number .number-line:after {
      display: block;
      clear: both;
      content: ''; }
  .section-number .graf-block {
    margin-bottom: -2px; }
    .section-number .graf-block .pas-title {
      margin-bottom: 13px; }
    .section-number .graf-block .graf-line .graf {
      height: 60px;
      float: left;
      text-align: left;
      position: relative; }
      .section-number .graf-block .graf-line .graf .graf-title {
        color: #ffffff;
        line-height: 18px;
        padding: 12px 20px; }
        .section-number .graf-block .graf-line .graf .graf-title span {
          display: block;
          font-weight: bold; }
        .section-number .graf-block .graf-line .graf .graf-title.abs {
          opacity: 0;
          visibility: hidden;
          bottom: 100%;
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
          padding: 5px 10px;
          background: rgba(0, 0, 0, 0.8);
          border-radius: 4px;
          -webkit-transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;
                  transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear; }
          .section-number .graf-block .graf-line .graf .graf-title.abs:after {
            content: '';
            position: absolute;
            bottom: -10px;
            border: 5px solid transparent;
            margin-top: -5px;
            margin-left: -5px;
            left: 50%;
            border-top: 5px solid rgba(0, 0, 0, 0.8); }
      .section-number .graf-block .graf-line .graf:hover .graf-title.abs {
        margin-bottom: 10px;
        opacity: 1;
        visibility: visible; }
    .section-number .graf-block .graf-block-in {
      margin-bottom: 40px; }
      .section-number .graf-block .graf-block-in .date {
        margin-bottom: 20px; }
    .section-number .graf-block .number-line {
      height: 60px;
      margin-bottom: 10px; }
    .section-number .graf-block:after {
      display: block;
      clear: both;
      content: ''; }
  .section-number .country-number .pas-title {
    margin-bottom: 18px; }
  .section-number .country-number .country-block-in {
    margin-bottom: 34px; }
    .section-number .country-number .country-block-in .title-cols {
      margin-bottom: 9px; }
      .section-number .country-number .country-block-in .title-cols .col {
        width: 15.66%;
        margin-left: 1.5%; }
        .section-number .country-number .country-block-in .title-cols .col:nth-child(4n+1) {
          clear: none;
          margin-left: 0; }
        .section-number .country-number .country-block-in .title-cols .col:nth-child(6n+1) {
          clear: both;
          margin-left: 0; }
        .section-number .country-number .country-block-in .title-cols .col .pas-title {
          text-transform: none;
          font-weight: 400;
          margin-bottom: 0; }
    .section-number .country-number .country-block-in .date {
      margin-bottom: 13px; }
    .section-number .country-number .country-block-in .number-line {
      margin-bottom: 7px; }
      .section-number .country-number .country-block-in .number-line .cols .col {
        width: 15.66%;
        margin-left: 1.5%; }
        .section-number .country-number .country-block-in .number-line .cols .col:nth-child(4n+1) {
          clear: none;
          margin-left: 0; }
        .section-number .country-number .country-block-in .number-line .cols .col:nth-child(6n+1) {
          clear: both;
          margin-left: 0; }
        .section-number .country-number .country-block-in .number-line .cols .col .number {
          font-size: 15px; }
          .section-number .country-number .country-block-in .number-line .cols .col .number span {
            color: #9f9f9f;
            display: inline-block;
            margin-left: 6px;
            padding: 0;
            line-height: 31px; }
  .section-number .country-number .country-block-in .number-line .flag-block .flag {
    float: left;
    /*width: 55px;*/
    height: 36px;
    margin-right: 10px;
    overflow: hidden; }
    .section-number .country-number .country-block-in .number-line .flag-block .flag img {
      width: 100%;
      height: 100%; }
  .section-number .country-number .country-block-in .number-line .flag-block .flag-cont {
    overflow: hidden; }
    .section-number .country-number .country-block-in .number-line .flag-block .flag-cont .pas-title {
      text-transform: none;
      margin-bottom: 7px;
      font-weight: 400;
      line-height: 1; }
    .section-number .country-number .country-block-in .number-line .flag-block .flag-cont .number-sm {
      line-height: 1;
      font-weight: bold; }
      .section-number .country-number .country-block-in .number-line .flag-block .flag-cont .number-sm span {
        font-weight: 400;
        display: inline;
        margin-left: 6px; }
  .section-number .graf-img-blocks {
    margin-bottom: 38px; }
    .section-number .graf-img-blocks .cols {
      margin-bottom: 13px; }
      .section-number .graf-img-blocks .cols .hel-graf {
        margin: 0 0 12px; }
      .section-number .graf-img-blocks .cols .pas-title {
        margin-bottom: 8px; }
  .section-number .cols-sm-m {
    margin-bottom: 9px; }
  .section-number.section-number-padd {
    /*.number-blocks {margin-bottom: 49px;
        .number-block-line {    margin-bottom: 41px;}
    }
    .graf-block {    margin-bottom: 48px;
        .pas-title {    margin-bottom: 28px;}
    }
    .country-number .pas-title {    margin-bottom: 28px;}*/ }
    .section-number.section-number-padd .wrapper {
      padding-left: 109px; }
    .section-number.section-number-padd .cols .col {
      width: 25%;
      margin-left: 0%; }

.date {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  clear: both;
  line-height: 17px;
  padding-bottom: 10px;
  margin-bottom: 12px; }
  .date span {
    display: inline-block; }

.other-block {
  width: 55px;
  height: 36px;
  position: relative;
  border: solid 1px rgba(151, 151, 151, 0.4);
  margin-left: 1px; }
  .other-block span {
    width: 5px;
    height: 5px;
    border-radius: 3px;
    display: block;
    background: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -2px; }
  .other-block:after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -10px; }
  .other-block:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2px 0px 0 6px; }

/* 05.04.2017 */
#header .proj-row .proj-list li.active > a i {
  position: relative; }
  #header .proj-row .proj-list li.active > a i:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid 1px #ae2231;
    border-radius: 3px; }

.window .win-left .win-vals .pr-row .pr-name {
  width: 128px; }
.window .win-left .win-vals .pr-row .pr-val {
  width: 235px; }

/* 22.04 */
#footer {
  font-size: 13px; }
  #footer .foot-date {
    opacity: 0.6;
    line-height: 20px;
    color: #000000; }

#header .logo {
  margin: 3px 19px 0 0px; }
#header .head-img li a .icon1 {
  width: 46px;
  height: 29px; }
#header .head-img li a .icon2 {
  width: 32px;
  height: 28px; }
#header .head-img li a .icon3 {
  width: 56px;
  height: 30px; }

.section-number .number-blocks .number-block-line {
  margin-bottom: 41px; }
.section-number .cols .number {
  padding-left: 18px; }
  .section-number .cols .number span {
    margin-top: -1px; }
.section-number .graf-block .graf-line .graf .graf-title.abs {
  width: 57px; }
.section-number .country-number .country-block-in .number-line {
  margin-bottom: 17px; }
  .section-number .country-number .country-block-in .number-line .flag-block .flag .other-block {
    text-align: center; }
    .section-number .country-number .country-block-in .number-line .flag-block .flag .other-block img {
      width: auto;
      height: 24px;
      margin: 5px 0; }
    .section-number .country-number .country-block-in .number-line .flag-block .flag .other-block:before, .section-number .country-number .country-block-in .number-line .flag-block .flag .other-block:after {
      display: none; }
  .section-number .country-number .country-block-in .number-line .flag-block .flag.country-flag {
    width: 50px;
    border: 1px solid rgba(0, 0, 0, 0.5); }
  .section-number .country-number .country-block-in .number-line .cols .col .number {
    padding-left: 0; }
    .section-number .country-number .country-block-in .number-line .cols .col .number span {
      margin-top: 6px; }
.section-number .graf-img-blocks .cols .col-hov:hover {
  opacity: 1;
  z-index: 5; }
  .section-number .graf-img-blocks .cols .col-hov:hover .help {
    opacity: 1; }
.section-number .graf-img-blocks .cols .col-hov > a {
  color: #000; }
.section-number .graf-img-blocks .cols .col-hov .number {
  padding: 0; }
.section-number .graf-img-blocks .cols .pas-title {
  opacity: 1; }
  .section-number .graf-img-blocks .cols .pas-title b {
    opacity: 0.6; }
  .section-number .graf-img-blocks .cols .pas-title .help {
    display: inline-block;
    vertical-align: middle;
    z-index: 3;
    opacity: 0;
    margin: -3px 0 0 4px;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }
    .section-number .graf-img-blocks .cols .pas-title .help .help-drop {
      padding: 9px 11px 8px 10px;
      top: -5px;
      width: 200px;
      text-transform: none;
      font-weight: 400;
      font-size: 13px;
      line-height: 1.15;
      -webkit-transform: translateY(0%);
          -ms-transform: translateY(0%);
              transform: translateY(0%); }
      .section-number .graf-img-blocks .cols .pas-title .help .help-drop:before {
        top: 14px; }
.section-number .graf-img-blocks .cols .number {
  font-size: 37px; }

.content {
  -webkit-transition: opacity 0.3s ease-out;
          transition: opacity 0.3s ease-out; }

.loaded .content {
  opacity: 0.5; }

.window .win-left .win-vals .pr-row .pr-val .pr-val-width {
  min-width: 1px; }
  .window .win-left .win-vals .pr-row .pr-val .pr-val-width.empty {
    min-width: 0; }
    .window .win-left .win-vals .pr-row .pr-val .pr-val-width.empty span {
      margin-left: 0; }

.section-cat .pas-cols .pas-col {
  width: 18%;
  margin-left: 2.5%; }
  .section-cat .pas-cols .pas-col .pas-table td {
    padding-bottom: 1px; }
  .section-cat .pas-cols .pas-col .pas-table .link-logo {
    font-size: 0; }
    .section-cat .pas-cols .pas-col .pas-table .link-logo:hover {
      opacity: 1; }
      .section-cat .pas-cols .pas-col .pas-table .link-logo:hover img {
        opacity: 0.7; }
  .section-cat .pas-cols .pas-col:nth-child(5n+1) {
    margin-left: 0; }
.section-cat .pas-cols-comp .pas-col .pas-table td {
  height: 43px; }

.comp-num {
  position: relative; }
  .comp-num .drop {
    z-index: 5;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 0px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 32px;
    background: rgba(0, 0, 0, 0.8);
    left: 50%;
    list-style: none; }
    .comp-num .drop:before {
      content: '';
      position: absolute;
      left: 50%;
      border: 5px solid transparent;
      margin-left: -5px;
      top: -10px;
      border-bottom: 5px solid rgba(0, 0, 0, 0.8); }
    .comp-num .drop:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: -10px;
      height: 10px; }
    .comp-num .drop li {
      list-style: none;
      height: 30px;
      padding-right: 45px;
      padding-bottom: 0px;
      float: none;
      background: transparent;
      margin: 0 0 5px;
      line-height: 30px;
      text-align: left; }
      .comp-num .drop li:hover {
        background: rgba(255, 255, 255, 0.2); }
      .comp-num .drop li a {
        display: block;
        padding: 0 10px;
        font-size: 13px;
        color: #ffffff;
        white-space: nowrap;
        display: block; }
        .comp-num .drop li a span {
          font-size: 13px;
          color: #ffffff;
          width: auto;
          background: transparent;
          text-align: left;
          height: 30px;
          line-height: 30px; }
      .comp-num .drop li i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 10px;
        font-size: 0;
        display: block;
        float: left;
        border-radius: 3px;
        background-color: #ffffff;
        text-align: center; }
    .comp-num .drop li:last-child {
      margin-bottom: 0; }
    .comp-num .drop li.last {
      display: none; }
  .comp-num:hover .drop {
    min-width: 160px;
    margin-top: 10px;
    opacity: 1;
    visibility: visible;
    padding: 5px 0 5px;
    -webkit-transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;
            transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear; }
    .comp-num:hover .drop span {
      color: #fff; }

.group-p {
  display: inline-block;
  position: relative; }
  .group-p .drop {
    z-index: 5;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 0px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 20px;
    background: rgba(0, 0, 0, 0.8);
    left: 50%;
    list-style: none; }
    .group-p .drop:before {
      content: '';
      position: absolute;
      left: 50%;
      border: 5px solid transparent;
      margin-left: -5px;
      top: -10px;
      border-bottom: 5px solid rgba(0, 0, 0, 0.8); }
    .group-p .drop:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: -10px;
      height: 10px; }
    .group-p .drop li {
      list-style: none;
      height: 30px;
      padding-right: 45px;
      padding-bottom: 0px;
      float: none;
      background: transparent;
      margin: 0 0 5px;
      line-height: 30px;
      text-align: left; }
      .group-p .drop li:hover {
        background: rgba(255, 255, 255, 0.2); }
      .group-p .drop li a {
        display: block;
        padding: 0 10px;
        font-size: 13px;
        color: #ffffff;
        white-space: nowrap;
        display: block; }
        .group-p .drop li a span {
          font-size: 13px;
          color: #ffffff;
          width: auto;
          background: transparent;
          text-align: left;
          height: 30px;
          line-height: 30px; }
      .group-p .drop li i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 10px;
        font-size: 0;
        display: block;
        float: left;
        border-radius: 3px;
        background-color: #ffffff;
        text-align: center; }
    .group-p .drop li:last-child {
      margin-bottom: 0; }
    .group-p .drop li.last {
      display: none; }
  .group-p:hover .drop {
    min-width: 160px;
    margin-top: 10px;
    opacity: 1;
    visibility: visible;
    padding: 5px 0 5px;
    -webkit-transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear;
            transition: opacity 0.3s ease-out, margin 0.3s 0.1s ease-out, visibility 0.1s 0.1s linear; }
    .group-p:hover .drop span {
      color: #fff; }

.fancybox-inner {
  overflow: visible !important; }

.window {
  padding: 41px 50px 40px 50px; }
  .window .win-graf {
    float: left;
    margin-left: 80px; }
  .window .win-left .win-vals.checks .pr-row .pr-name {
    width: 170px;
    cursor: pointer; }
  .window .win-left .win-vals .pr-row .pr-name {
    opacity: 1;
    color: rgba(0, 0, 0, 0.5); }
  .window .win-left .win-vals .pr-row .jq-checkbox {
    -webkit-transition: background 0.2s linear;
            transition: background 0.2s linear;
    float: left;
    border-radius: 10px;
    width: 31px;
    height: 20px;
    top: -1px;
    margin-right: 10px;
    border: 2px solid transparent;
    background: rgba(0, 0, 0, 0.2); }
    .window .win-left .win-vals .pr-row .jq-checkbox .jq-checkbox__div {
      -webkit-transition: all 0.2s linear;
              transition: all 0.2s linear;
      background: #fff;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 16px;
      height: 16px;
      border-radius: 8px; }
    .window .win-left .win-vals .pr-row .jq-checkbox.checked .jq-checkbox__div {
      left: 11px; }
  .window .win-left .win-vals .pr-row.check_color_1 .jq-checkbox.checked {
    background-color: #ae2231; }
  .window .win-left .win-vals .pr-row.check_color_1 .pr-val .pr-val-width {
    background-color: #ae2231; }
  .window .win-left .win-vals .pr-row.check_color_2 .jq-checkbox.checked {
    background-color: #9cbcdf; }
  .window .win-left .win-vals .pr-row.check_color_2 .pr-val .pr-val-width {
    background-color: #9cbcdf; }
  .window .win-left .win-vals .pr-row.check_color_3 .jq-checkbox.checked {
    background-color: #9895d6; }
  .window .win-left .win-vals .pr-row.check_color_3 .pr-val .pr-val-width {
    background-color: #9895d6; }
  .window .win-left .win-vals .pr-row.check_color_4 .jq-checkbox.checked {
    background-color: #eca330; }
  .window .win-left .win-vals .pr-row.check_color_4 .pr-val .pr-val-width {
    background-color: #eca330; }
  .window .win-left .win-vals .pr-row.check_color_5 .jq-checkbox.checked {
    background-color: #5a9ad4; }
  .window .win-left .win-vals .pr-row.check_color_5 .pr-val .pr-val-width {
    background-color: #5a9ad4; }

.section-number .country-number .country-block-in .number-line .flag-block .country-flag img {
  width: 50px !important;
  height: 36px !important; }
